<%=render 'common/css'%>
<%
  if @achiefe.new_record?
    @url = project_achieves_path(@project)
  else
    @url = project_achiefe_path(@project,@achiefe)
  end
%>

<%= simple_form_for @achiefe,:url=>@url, :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_messages_for 'achiefe' %>
  <%= f.input :title %>
  <%= f.input :person_id ,:collection=>@project.students,:label_method=>:username%>
<!-- 
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_area :job %>
  </div> -->
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
