<%- model_class = Achiefe -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
<!--       <th>公司</th>
      <th>职位</th>
      <th>工作内容</th>
      <th>开始时间</th>
      <th>结束时间</th> -->
      <th>成就内容</th>
      <th>成就状态</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
    <tr>
      <th><%=item.title%></th>
      <th><%=t item.state%></th>
      <th><%=item.created_at%></th>
      <th>
        <%=link_to '完成',finish_student_achiefe_path(item.person,item) unless item.finished? %>
        <%=link_to '未完成',unfinish_student_achiefe_path(item.person,item) unless item.unfinished? %>
      </th>
<!--       <th><%=item.company%></th>
      <th><%=item.position%></th>
      <th><%=item.job%></th>
      <th><%=item.started_at%></th>
      <th><%=item.ended_at%></th> -->
    </tr>
    <% end %>
  </tbody>
</table>
