<h1>Listing achieves</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Duration</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @achieves.each do |achiefe| %>
  <tr>
    <td><%= achiefe.company %></td>
    <td><%= achiefe.position %></td>
    <td><%= achiefe.duration %></td>
    <td><%= achiefe.job %></td>
    <td><%= link_to 'Show', achiefe %></td>
    <td><%= link_to 'Edit', edit_achiefe_path(achiefe) %></td>
    <td><%= link_to 'Destroy', achiefe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Achiefe', new_achiefe_path %>
