<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_achiefe_path(@achiefe) %> |
<%= link_to 'Back', achieves_path %>
<p>
  <b>Company:</b>
  <%= @achiefe.company %>
</p>

<p>
  <b>Position:</b>
  <%= @achiefe.position %>
</p>

<p>
  <b>Duration:</b>
  <%= @achiefe.duration %>
</p>

<p>
  <b>Job:</b>
  <%= @achiefe.job %>
</p>



