<table class="table table-striped table-bordered">
  <tr>
    <td>类型</td>
    <td>标题</td>
    <td>描述</td>
    <td>选项</td>
  </tr>
  <%collection.each do |q|%>
  <tr>
    <td style='width:20%'><%=q.zh_state%></td>
    <td style='width:20%'><%=q.title%>
      
    </td>
    <td style='width:20%'><%=q.description%></td>
    <td style='width:20%'>
      <%=shifou q.judge_choice%>
      <%q.choices.each do |c|%>
      <%=c.title%> (<%=shifou c.answer%>)<br/>
      <%end%>
    </td>
  </tr>
  <%end%>
</table>