<%=render 'common/css'%>
<%
  if @service.new_record?
    @url = project_services_path(@project)
  else
    @url = project_service_path(@project,@service)
  end
%>

<%= simple_form_for @service,:url=>@url, :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_messages_for 'service' %>
  <%= f.input :title %>
  <%= f.input :color %>
  <%= f.input :price %>
  <%= f.input :menu,:collection=>Service::Menu,:as=>:radio_buttons %>

  <div class="control-group">
    <%= f.label :teachers_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :teachers_id, options_from_collection_for_select(@project.teachers,'id','username'),:multiple=>true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rooms_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :rooms_id, options_from_collection_for_select(@project.rooms,'id','title'),:multiple=>true %>
    </div>
  </div>
  <%= f.input :capacity %>
  <%=f.fields_for :tasks do |builder|%>
  <%=render 'tasks/taskable_form',:f=>builder%>
  <% end %>
  <%= f.input :description,:input_html=> { :rows=>5 } %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_services_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
$(function(){
  $("#teachers_id").val(<%=@service.teachers.collect{|i|i.id}%>).select2()

  $("#teachers_id").select2("container").find("ul.select2-choices").sortable({
      containment: 'parent'
  });

  $("#rooms_id").val(<%=@service.rooms.collect{|i|i.id}%>).select2()

  $("#rooms_id").select2("container").find("ul.select2-choices").sortable({
      containment: 'parent'
  });
  $(".select2-container").addClass('span3')
})
</script>