<%=render 'common/css'%>
<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><strong>已付款、未排课学员总数</strong></th>      
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>      
      <th><%= model_class.human_attribute_name(:menu) %></th>      
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:teachers) %></th>
      <th><%= model_class.human_attribute_name(:rooms) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.title, project_service_path(@project,service) %></td>
        <td><%= service.baomings.payed.count %></td>        
        <td><%= service.color %></td>
        <td><%= service.price %></td> 
        <td><%= service.menu %></td>        
        <td><%= service.capacity %></td>
        <td>
          <% service.teachers.each do |teacher|%>
          <%= link_to teacher.username,project_service_path(@project,teacher)%>
          <% end %>
        </td>
        <td>
          <% service.rooms.each do |room|%>
          <%= link_to room.title,project_service_path(@project,room)%>
          <% end %>
        </td>
        <td><%= service.created_at.to_formatted_s(:db) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_service_path(@project,service), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_service_path(@project,service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @services %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_service_path(@project),
            :class => 'btn ' %>

<%=render 'klassplans/dashboard'%>