<%=render 'common/css'%>
<%- model_class = Service -%>
<div class="page-header">
  <h1><%=@service.title %></h1>
</div>
<div class="row">
  <div class="pull-right">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_services_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_service_path(@project,@service), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_service_path(@project,@service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>  
<table class='table table-bordered table-striped'>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
    <td><%= @service.baomings.payed.count %></td>
  </tr>
  <tr>
    <td><strong>已付款、未排课学员总数</strong></td>
    <td><%= @service.title %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:color) %>:</strong></td>
    <td><%= @service.color %></td>
  </tr>   
  <tr>
    <td><strong><%= model_class.human_attribute_name(:price) %>:</strong></td>
    <td><%= @service.price %></td>
  </tr>    
  <tr>
    <td><strong><%= model_class.human_attribute_name(:menu) %>:</strong></td>
    <td><%= @service.menu %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></td>
    <td><%= @service.capacity %></td>
  </tr>   
  <tr>
    <td><strong><%= model_class.human_attribute_name(:teachers) %>:</strong></td>
    <td>
      <% @service.teachers.each do |teacher|%>
      <%= link_to teacher.username,project_service_path(@project,teacher)%>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:rooms) %>:</strong></td>
    <td>
      <% @service.rooms.each do |room|%>
      <%= link_to room.title,project_service_path(@project,room)%>
      <% end %>
    </td>
  </tr>
</table>


<%=render 'klassplans/dashboard'%>