<%=render 'common/css'%>
<%- model_class = Season -%>
<%
  if @season.new_record?
    @url = project_seasons_path(@project)
  else
    @url = project_season_path(@project,@season)
  end
%>
<%= form_for @season,:url=>@url, :html => {:id => 'season-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
      <% @season.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
       <div class="input-append date">
        <%= f.text_field :start_at, :class => 'text_field','data-format'=>"yyyy-MM-dd" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
       <div class="input-append date">
        <%= f.text_field :end_at, :class => 'text_field','data-format'=>"yyyy-MM-dd" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_seasons_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
$(function(){
  $("input[name*='start'],input[name*='end']").parent().datetimepicker({
    language: 'zh-CN',
    pickTime: false,
  })
})
</script>