<div class="page-header">
  <h1>编辑排课区间</h1>
</div>


<%= render 'form' %>

<%= link_to '显示', project_season_path(@project,@season),:class=>'btn' %> 
<%= link_to '排课区间列表', project_seasons_path(@project),:class=>'btn' %>
