<%=render 'common/css'%>
<div class="page-header">
  <h1>排课区间列表</h1>
</div>
<%- model_class = Season -%>
<table class="table table-striped table-bordered">
  <tr>
    <th><%=model_class.human_attribute_name(:title)%></th>
    <th>是否默认排课区间</th>
    <th><%=model_class.human_attribute_name(:start_at)%></th>
    <th><%=model_class.human_attribute_name(:end_at)%></th>
    <th></th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= link_to season.title, project_season_path(@project,season) %></td>
    <td><%= shifou season.used? %></td>
    <td><%= season.start_at.to_formatted_s(:db) %></td>
    <td><%= season.end_at.to_formatted_s(:db) %></td>
    <td>
    <%= link_to '设为默认',
                      set_now_project_season_path(@project,season), :class => 'btn btn-mini' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_season_path(@project,season), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_season_path(@project,season),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建排课区间', new_project_season_path(@project),:class=>'btn' %>
