<div class="page-header">
  <h1><%=@season.title%></h1>
</div>

<%=render 'common/css'%>
<%- model_class = Season -%>
<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
    <td><%=@season.send(:title)%></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></td>
    <td><%=@season.send(:start_at)%></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></td>
    <td><%=@season.send(:end_at)%></td>
  </tr>
</table>

<%= link_to '编辑排课区间', edit_project_season_path(@project,@season),:class=>'btn' %> 
<%= link_to '排课区间列表', project_seasons_path(@project),:class=>'btn' %>

