<%
# 报名禁止修改的情况
# 未付款 -- 不能排课
# 已
%>
<% if klassplan.klass%>
<table class="table table-striped table-bordered">
	<thead>
    <tr>
    	<th>是否排课</th>
      <th>学员</th>
      <th>报名日期</th>
      <th>付款状态</th>
      <th>是否赠送</th>
      <% klassplan.klass.all_parents.each do |parent|%>
      <% if parent.is_a? Course %>
      <th><%=link_to parent.title,project_course_path(@project,parent)%></th>
      <% end %>
      <% if parent.is_a? Service %>
      <th><%=link_to parent.title,project_service_path(@project,parent)%></th>
      <% end %>
      <% end  %>
    </tr>
  </thead>
  <tbody>
  	<% baomings.each do |bm|%>
    <tr>
      <%
      if klassplan.new_record?
        if bm.unpayed?
          disabled = true
        else
          disabled = false
        end
      else
        if klassplan_type != :chaban
          disabled = true
        else
          if bm.unpayed? || bm.klassplans.include?(klassplan)
            disabled = true
          else
            disabled = false
          end
        end
      end
      
      %>
    	<input type='hidden' name='baomings[][id]' value='<%=bm.id%>'/>
    	<td><input type='checkbox' name='baomings[][checked]' <%=bm.klassplans.include?(klassplan) ? "checked='checked'" : '' %> <%=disabled ? "disabled=disabled" : "" %>/></td>
    	<td><%=bm.student.try(:username)%></td>
      <td><%=bm.created_at%></td>
      <td><%=bm.state_zh%></td>
      <td><%=shifou bm.free%></td>
      <% klassplan.klass.all_parents.each do |parent|%>
      <td><%=person_klass_status(bm.student,parent)%></td>
      <% end %>
    </tr>
    <% end%>
  </tbody>
</table>
<% end %>