<%=render 'common/css'%>
<%
  if @baoming.new_record?
    @url = project_baomings_path(@project)
  else
    @url = project_baoming_path(@project,@baoming)
  end
%>
<%= simple_form_for @baoming, :url => @url, :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_messages_for 'baoming' %>
  <%= f.input :student_id,:collection=>Student.all,:label_method=>:username,:value_method=>:id,:disabled=>true%>
  <%= f.input :klass_id,:collection=>Klass.all,:label_method=>:title,:value_method=>:id,:disabled=>true,:as=>:hidden%>
  <div class="control-group">
    <label class="control-label">课程</label>
    <div class="controls">
      <% @baomings.each do |bm| %>
      <label class="radio inline"><%=bm.klass.title%></label>
      <input name="baomings_id[]" type="hidden" value="<%=bm.id%>">
      <% end %>
    </div>
  </div>
  <%= f.input :state,:collection=>state_collection,:as=>:radio_buttons,:label_method=>:label,:value_method=>:value %>
  <%= f.input :makeup,:collection=>Baoming::Makeup,:as=>:radio_buttons %>
  <%= f.input :next, :as => :datetime_picker %>
  <%= f.input :end_at, :as => :datetime_picker %>
  <%= f.input :important,:collection=>Baoming::Important,:as=>:radio_buttons %>
  <%= f.input :free %>
  <%= f.input :discount_way,:collection=>Baoming::DiscountWay,:as=>:radio_buttons %>
  <%= f.input :payment_way,:collection=>Baoming::PaymentWay,:as=>:radio_buttons %>
  <%= f.input :installment %>
  <%= f.input :installment_duration %>
  <%= f.input :installment_value %>
  <%= f.input :installment_last %>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_baomings_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
  $(function(){
    function show_or_hide_installment(){
      $("#baoming_installment_duration,#baoming_installment_value,#baoming_installment_last").prop('disabled',!$("#baoming_installment").is(':checked'))
    }
    $("#baoming_installment").change(show_or_hide_installment)
    show_or_hide_installment()

    // $("#baoming_next,#baoming_end_at").parent().datetimepicker({
    //   language: 'zh-CN',
    //   // pickDate: false
    // })

    function show_or_hide_pay(){
      $("input[id^='baoming_discount_way_'],#baoming_payment_way_,#baoming_installment,#baoming_installment_duration,#baoming_installment_value,#baoming_installment_last").prop('disabled',$("#baoming_free").is(':checked'))
    }
    $("#baoming_free").change(show_or_hide_pay)
    show_or_hide_pay()

  })
</script>