<%- model_class = Baoming -%>
<table class="table table-striped table-bordered baomings">
  <thead>
    <tr>
      <th><input type='checkbox' class='check_all'/></th>
      <th><%= model_class.human_attribute_name(:student) %></th>
      <th><%= model_class.human_attribute_name(:klass) %></th>
      <th>已付款</th>
<!--       <th><%= model_class.human_attribute_name(:discount_way) %></th>
      <th><%= model_class.human_attribute_name(:payment_way) %></th>
      <th><%= model_class.human_attribute_name(:makeup) %></th>
      <th><%= model_class.human_attribute_name(:free) %></th>
      <th><%= model_class.human_attribute_name(:next) %></th>
      <th><%= model_class.human_attribute_name(:important) %></th>
      <th><%= model_class.human_attribute_name(:installment) %></th>
      <th><%= model_class.human_attribute_name(:installment_duration) %></th>
      <th><%= model_class.human_attribute_name(:installment_value) %></th>
      <th><%= model_class.human_attribute_name(:installment_last) %></th> -->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |baoming| %>
      <tr>
        <td><input <%=baoming.unpayed? ? '' : 'disabled=disabled' %>  id="baomings_" name="baomings[]" type="checkbox" value="<%=baoming.id%>"></td>
        <td><%= link_to baoming.student.try(:username), project_baoming_path(@project,baoming) %></td>
        <td><%= baoming.klass.try(:title) %></td>
        <td><%= shifou !baoming.unpayed? %></td>
        <!-- <td><%= baoming.discount_way %></td>
        <td><%= baoming.payment_way %></td>
        <td><%= baoming.makeup %></td>
        <td><%= shifou baoming.free %></td>
        <td><%= baoming.next %></td>
        <td><%= baoming.important %></td>
        <td><%= shifou baoming.installment %></td>
        <td><%= baoming.installment_duration %></td>
        <td><%= baoming.installment_value %></td>
        <td><%= baoming.installment_last %></td> -->
        <td><%= baoming.created_at.to_formatted_s(:db) %></td>
        <td>
          <%= link_to('付款',
                      edit_project_baoming_path(@project,baoming), :class => 'btn btn-mini') if baoming.unpayed? %>
          <%= link_to '退款',
                      project_baoming_path(@project,baoming),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<button class='btn baoming'>发送通知</button>
<script type="text/javascript">
$('.check_all').click(function(){
    var that = $(this);
    $(this).parents('table').first().find('tbody input:checkbox').each(function(){
      if(that.attr('checked')=='checked'){
        $(this).attr('checked','checked')  
      }else{
        $(this).removeAttr('checked')  
      }
    })
    $(".baoming").click(function(){
      var baomings_id = [];
      $("table.baomings tbody input:checkbox:enabled").each(function(){
        baomings_id.push($(this).attr('value'))
      })
      if(baomings_id.length > 0){
        window.location = '/projects/redmine/baomings/'+baomings_id[0] + "/edit?baomings_id=" + baomings_id.join('-')
      }
    })
  })
</script>