<%=render 'common/css'%>
<%- model_class = Baoming -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render 'list',:collection=>@baomings%>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_baoming_path(@project),
            :class => 'btn' %>












