<%=render 'common/css'%>
<div class="page-header">
  <h1>报名</h1>
</div>
<%
  @url = pay_project_baomings_path(@project)
%>
<%= simple_form_for @pay, :url => @url, :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_messages_for 'baoming_pay' %>
  <%= f.input :student_id,:collection=>Student.all,:label_method=>:username,:value_method=>:id,:disabled=>true%>
  <%= f.input :price,:disabled=>true%>
  <div class="control-group string optional disabled baoming_pay_baomings">
    <label class="string optional control-label" for="baoming_pay_baomings">课程</label>
    <div class="controls">
      <% @pay.baomings.collect{|bm|bm.klass}.each do |klass|%>
      <% if klass.is_a? Course %>
      <%=link_to klass.title,project_course_path(@project,klass)%><br/>
      <% end %>
      <% if klass.is_a? Service %>
      <%=link_to klass.title,project_service_path(@project,klass)%><br/>
      <% end %>
      <% end %>
    </div>
  </div>
  <%= f.input :free,:as=>:boolean %>
  <%= f.input :discount_way,:collection=>Baoming::DiscountWay,:as=>:radio_buttons %>
  <%= f.input :payment_way,:collection=>Baoming::PaymentWay,:as=>:radio_buttons %>
  <%= f.input :installment %>
  <%= f.input :installment_duration %>
  <%= f.input :installment_value %>
  <%= f.input :installment_last %>

  <%= f.input :makeup,:collection=>Baoming::Makeup,:as=>:radio_buttons %>
  <div class="control-group">
    <%= f.label :next, :class => 'control-label' %>
    <div class="controls">
      <div class=" input-append date">
        <%= f.text_field :next, :class => 'text_field','data-format'=>"yyyy-MM-dd hh:mm:ss" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <div class=" input-append date">
        <%= f.text_field :end_at, :class => 'text_field','data-format'=>"yyyy-MM-dd hh:mm:ss" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>
  <%= f.input :important,:collection=>Baoming::Important,:as=>:radio_buttons %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_baomings_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
  $(function(){
    function show_or_hide_installment(){
      $("#baoming_installment_duration,#baoming_installment_value,#baoming_installment_last").prop('disabled',!$("#baoming_installment").is(':checked'))
    }
    $("#baoming_installment").change(show_or_hide_installment)
    show_or_hide_installment()

    $("#baoming_next,#baoming_end_at").parent().datetimepicker({
      language: 'zh-CN',
      // pickDate: false
    })

    function show_or_hide_pay(){
      $("input[id^='baoming_discount_way_'],#baoming_payment_way_,#baoming_installment,#baoming_installment_duration,#baoming_installment_value,#baoming_installment_last").prop('disabled',$("#baoming_free").is(':checked'))
    }
    $("#baoming_free").change(show_or_hide_pay)
    show_or_hide_pay()

  })
</script>