<%=render 'common/css'%>
<%- model_class = Baoming -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class='pull-right'>
  <%= link_to(@baoming.review.title,project_review_path(@project,@baoming.review), :class => 'btn') %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_baomings_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_baoming_path(@project,@baoming), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_baoming_path(@project,@baoming),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>              
</div>
<br/>
<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:student_id) %>:</strong></td>
    <td><%= link_to(@baoming.student.username,project_student_path(@project,@baoming.student)) if @baoming.student%></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:klass_id) %>:</strong></td>
    <td><%= link_to(@baoming.klass.title,project_course_path(@project,@baoming.klass)) if @baoming.klass %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:important) %>:</strong></td>
    <td><%= @baoming.important %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:state) %>:</strong></td>
    <td><%= t @baoming.state %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:makeup) %>:</strong></td>
    <td><%= @baoming.makeup %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:next) %>:</strong></td>
    <td><%= @baoming.next %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></td>
    <td><%= @baoming.end_at %></td>
  </tr>    
  <tr>
    <td><strong><%= model_class.human_attribute_name(:free) %>:</strong></td>
    <td><%= shifou @baoming.free %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:discount_way) %>:</strong></td>
    <td><%= @baoming.discount_way %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:payment_way) %>:</strong></td>
    <td><%= @baoming.payment_way %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:installment) %>:</strong></td>
    <td><%= shifou @baoming.installment %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:installment_duration) %>:</strong></td>
    <td><%= @baoming.installment_duration %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:installment_value) %>:</strong></td>
    <td><%= @baoming.installment_value %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:installment_last) %>:</strong></td>
    <td><%= @baoming.installment_last %></td>
  </tr>
</table>


