<%=render 'common/css'%>

<%= simple_form_for @attach, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :file %>
  <%= f.input :attachable_id,:as=>:hidden %>
  <%= f.input :attachable_type,:as=>:hidden %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
