<%- model_class = Attach -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%=  model_class.human_attribute_name(:file_file_name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
      <tr>
        <td><%= link_to item.file_file_name,item.file.url %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      item,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>