<h1>Listing attaches</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attaches.each do |attach| %>
  <tr>
    <td><%= link_to 'Show', attach %></td>
    <td><%= link_to 'Edit', edit_attach_path(attach) %></td>
    <td><%= link_to 'Destroy', attach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attach', new_attach_path %>
