<div class="control-group">
  <%= f.label :title,t('field_tasks.title'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :title, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :content,t('field_tasks.content'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :content, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :score,t('field_tasks.score'), :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :score, :class => 'number_field' %>
  </div>
</div>