<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Title</th>
    <th>Content</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.student_id %></td>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.state %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
