<%=render 'common/css'%>
<%= include_gon %>
<%
  if instance.new_record?
    @url = project_students_path(@project)
  else
    @url = project_student_path(@project,instance)
  end
%>

<%= simple_form_for instance, :url => @url,
                             :html => {:id => 'student-form', :multipart => true,:class=>'form-horizontal'} do |f| %>
  <%= error_messages_for 'student' %>
<!--   <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, :class => 'text_field' %>
    </div>
  </div> -->
  <% if !instance.markets.blank? %>
    <div class="control-group">
      <label class="control-label" for="student_username">市场活动</label>
      <div class="controls">
      <input name='market[id]' size="30" type="hidden" value='<%=instance.markets.first.id%>'>
      <input class="text_field" size="30" type="text" value='<%=instance.markets.first.title%>' disabled=disabled>
      </div>
    </div>
  <% end %>
  <%= f.input :state,:as=>:hidden %>
  <%= f.input :username %>
  <%= f.input :phone %>
  <%= f.input :weixin %>
  <%= f.input :qq %>
  <%= f.input :email %>
  <%= f.input :password unless f.object.client? %>
  <%= f.input :password_confirmation unless f.object.client? %>
  

  <%= f.fields_for :attaches do |attach_f|%>
  <div class="control-group">
    <%= attach_f.label :file,'头像', :class => 'control-label' %>  
    <div class="controls">
      <%= attach_f.file_field :file %>
      <%= attach_f.input :state,:as=>:hidden %>
    </div>
  </div>
  <% end %>
  <%= f.input :sex,:collection=>Student::Sex,:as=>:radio_buttons %>
  <%= f.input :qzsj,:as=>:datetime_picker%>
  <%= f.input :school %>
  <%= f.input :college %>
  <%= f.input :major %>
  <%= f.input :grade %>
  <%= f.input :home_51 %>
  <%= f.input :home_101 %>
  <%= f.input :home_summer %>
  <%= f.input :exam_4 %>
  <%= f.input :exam_6 %>
  <%= f.input :exam_toefl %>
  <%= f.input :exam_qimo %>
  <%= f.input :guide %>
  <%= f.input :guide_vip %>
  <%= f.input :logic %>
  <%= f.input :signup_openclass %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_students_path(@project), :class => 'btn' %>
  </div>
<% end %>

<script>
  $(function(){
    $("#student_school").typeahead({
      source:gon.schools
    })
    $("#student_college").typeahead({
      source:gon.colleges
    })
    $("#student_major").typeahead({
      source:gon.majors
    })
  })
</script>