<%- model_class = Student -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:qq) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |student| %>
      <tr>
        <td><%= view_link(@project,student) %></td>
        <td><%= student.phone %></td>
        <td><%= student.qq %></td>
        <td><%= student.sex %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>