<%-model_class=Student%>
<button class='btn send_notification'>发送通知</button>
<%= form_tag destroy_multiple_link(@project), method: :delete do %>
<%= submit_tag "删除所选",:class=>'btn btn-danger' %>
<br/><br/>
<table class="table table-striped table-bordered students">
  <thead>
    <tr>
      <th><input type='checkbox' class='check_all'/></th>
      <th>索引</th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:qq) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each_with_index do |student,index| %>
      <tr>
        <td><%= check_box_tag "students[]", student.id %></td>
        <td><%=index+1%></td>
        <td><%= view_link(@project,student) %></td>
        <td><%= student.phone %></td>
        <td><%= student.qq %></td>
        <td><%= student.sex %></td>
        <td><%= student.created_at.to_formatted_s(:db) %></td>
        <td>
          <%= duplicate_link_mini(@project,student) %>
          <%= edit_link_mini(@project,student) %>
          <%= link_to '评测',{:controller=>:reviews,:action=>:chose_reviewers,:phone=>student.phone},:class=>'btn btn-mini' %>
          <%= link_to '变为客户',to_client_project_student_path(@project,student), :class => 'btn btn-mini' unless student.client?%>
          <%= link_to '变为学员',to_student_project_student_path(@project,student), :class => 'btn btn-mini' unless student.student?%>
          <%= link_to '变为校友',to_alumna_project_student_path(@project,student), :class => 'btn btn-mini' unless student.alumna?%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<script>
$(function(){
  $('.check_all').click(function(){
    var that = $(this);
    $(this).parents('table').first().find('tbody input:checkbox').each(function(){
      if(that.attr('checked')=='checked'){
        $(this).attr('checked','checked')  
      }else{
        $(this).removeAttr('checked')  
      }
      
    })
  })
  $('.send_notification').click(function(){
    var students_id = [];
    $("table.students tbody input:checkbox").each(function(){
      students_id.push($(this).attr('value'))
    })
    window.location.href=gon.new_notification_url + "?students_id=" + students_id.join('-')
  })
})
</script>