<%=render 'common/css'%>
<%- model_class = Student -%>
<div class="page-header">
  <h1><%=instance.username%></h1>
</div>
<div class="row">
  <div class='pull-right'>
    <%= edit_link(@project,instance) %>
    <%= destroy_link(@project,instance) %>
  </div>
</div>
<br/>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab6" data-toggle="tab">市场</a></li>
  <li class=""><a href="#tab7" data-toggle="tab">评测</a></li>
  <li class=""><a href="#tab3" data-toggle="tab">报名</a></li>
  <li class=""><a href="#tab10" data-toggle="tab">附件</a></li>
  <% unless instance.client?%>
  <li class=""><a href="#tab5" data-toggle="tab">日历</a></li>
  <li class=""><a href="#tab9" data-toggle="tab">排课</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">成就 </a></li>
  <li class=""><a href="#tab4" data-toggle="tab">任务</a></li>
  
  <li class=""><a href="#tab8" data-toggle="tab">通知</a></li>
  <% end %>

  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong><%= model_class.human_attribute_name(:username) %>:</strong></td>
        <td><%= instance.username %></td>
      </tr>
      <% if !instance.markets.blank? %>
      <tr>
        <td><strong>市场活动</strong></td>
        <td><% link_to instance.markets.first.title,project_market_path(@project,instance.markets.first) %></td>
      </tr>
      <% end %>
      
      <tr>
        <td><strong>报名意愿</strong></td>
        <td><%= instance.reviews.first.try(:will) %></td>
      </tr>
      <tr>
        <td><strong>重点客户</strong></td>
        <td><%= instance.baomings.first.try(:important) %></td>
      </tr>
      <tr>
        <tr>
        <td><strong>头像:</strong></td>
        <td><%= image_tag instance.attaches.image.first.try(:file) %></td>
      </tr>
      <tr>  
        <td><strong><%= model_class.human_attribute_name(:sex) %>:</strong></td>
        <td><%= instance.sex %></td>
      </tr>
      <tr>
        <td><strong>求职时间</strong></td>
        <td><%= instance.qzsj.nil? ? '' : instance.qzsj.to_formatted_s(:db) %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:phone) %>:</strong></td>
        <td><%= instance.phone %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:qq) %>:</strong></td>
        <td><%= instance.qq %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:school) %>:</strong></td>
        <td><%= instance.school %></td>
      </tr>
        <tr>
        <td><strong><%= model_class.human_attribute_name(:college) %>:</strong></td>
        <td><%= instance.college %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:major) %>:</strong></td>
        <td><%= instance.major %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:grade) %>:</strong></td>
        <td><%= instance.grade %></td>
      </tr> 
      <tr>
        <td><strong><%= model_class.human_attribute_name(:home_51) %>:</strong></td>
        <td><%= shifou instance.home_51 %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:home_101) %>:</strong></td>
        <td><%= shifou instance.home_101 %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:home_summer) %>:</strong></td>
        <td><%= shifou instance.home_summer %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:exam_4) %>:</strong></td>
        <td><%= shifou instance.exam_4 %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:exam_6) %>:</strong></td>
        <td><%= shifou instance.exam_6 %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:exam_toefl) %>:</strong></td>
        <td><%= shifou instance.exam_toefl %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:exam_qimo) %>:</strong></td>
        <td><%= shifou instance.exam_qimo %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:guide) %>:</strong></td>
        <td><%= shifou instance.guide %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:guide_vip) %>:</strong></td>
        <td><%= shifou instance.guide_vip %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:logic) %>:</strong></td>
        <td><%= shifou instance.logic %></td>
      </tr>  
    <!--   <tr>
        <td><strong><%= model_class.human_attribute_name(:alumnus) %>:</strong></td>
        <td><%= shifou instance.alumnus %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:finished) %>:</strong></td>
        <td><%= shifou instance.finished %></td>
      </tr>    
      <tr>
        <td><strong><%= model_class.human_attribute_name(:signup_openclass) %>:</strong></td>
        <td><%= shifou instance.signup_openclass %></td>
      </tr>   -->
    </table>
  </div>
  <% unless instance.client?%>
  <div class="tab-pane " id="tab2">
    <%=render 'achieves/list',:collection=>instance.achieves.order('id desc')%>
    <%=link_to '创建成就',new_project_achiefe_path(@project,:person_id=>instance.id),:class=>'btn'%>
  </div>
  <div class="tab-pane " id="tab4">
    <%=render 'task_instances/list',:collection=>instance.task_instances.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab5">
    <%=render 'klassplans/dashboard'%>
  </div>
  <% end %>
  <div class="tab-pane " id="tab6">
    <%= render 'markets/table',:collection=>instance.markets.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab7">
    <%= render 'reviews/list',:collection=>instance.reviews.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab3">
    <%=render 'baomings/list',:collection=>instance.baomings.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab8">
    <%=render 'notifications/table',:collection=>instance.notifications.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab9">
    <%=render 'klassplans/list',:collection=>instance.klassplans.order('id desc')%>
  </div>
  <div class="tab-pane " id="tab10">
    <%=render 'attaches/index',:collection=>instance.attaches.file.order('id desc')%>
  </div>
</div>
