<% Feedback.order('created_at desc').each do |fb|%>
<blockquote>
  <p><%=fb.title%></p>
  <p><%=fb.content%></p>
  <small><%=fb.student.try(:username)%> <%=fb.created_at%></small>
</blockquote>
<% end %>