<%=render 'common/css'%>
<br/>
<%= link_to '老师',project_teachers_path(@project), :class => 'btn' %>
<%= link_to '教室',project_rooms_path(@project), :class => 'btn' %>
<%= link_to '课程',project_courses_path(@project), :class => 'btn' %>
<%= link_to '服务',project_services_path(@project), :class => 'btn' %>