<%= form_for(@task_instance) do |f| %>
  <% if @task_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_instance.errors.count, "error") %> prohibited this task_instance from being saved:</h2>

      <ul>
      <% @task_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :task_instancable_type %><br />
    <%= f.text_field :task_instancable_type %>
  </div>
  <div class="field">
    <%= f.label :task_instancable_id %><br />
    <%= f.number_field :task_instancable_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
