<%- model_class = Task -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
    	<th><%= t 'fields_username' %></th>
      <th><%= t 'fields_tasks.title' %></th>
      <th><%= t 'fields_tasks.content' %></th>
      <th><%= t 'fields_tasks.score' %></th>
      <th><%= t 'fields_state' %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
      <tr>
        <td><%= item.student.try(:username)%></td>
        <td><%= item.title %></td>
        <td><%= item.content %></td>
        <td><%= item.score %></td>
        <td><%= item.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>