<h1>Listing task_instances</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Title</th>
    <th>Content</th>
    <th>Task instancable type</th>
    <th>Task instancable</th>
    <th>Score</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_instances.each do |task_instance| %>
  <tr>
    <td><%= task_instance.student_id %></td>
    <td><%= task_instance.title %></td>
    <td><%= task_instance.content %></td>
    <td><%= task_instance.task_instancable_type %></td>
    <td><%= task_instance.task_instancable_id %></td>
    <td><%= task_instance.score %></td>
    <td><%= task_instance.state %></td>
    <td><%= link_to 'Show', task_instance %></td>
    <td><%= link_to 'Edit', edit_task_instance_path(task_instance) %></td>
    <td><%= link_to 'Destroy', task_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task instance', new_task_instance_path %>
