<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_task_instance_path(@task_instance) %> |
<%= link_to 'Back', task_instances_path %>
<p>
  <b>Student:</b>
  <%= @task_instance.student_id %>
</p>

<p>
  <b>Title:</b>
  <%= @task_instance.title %>
</p>

<p>
  <b>Content:</b>
  <%= @task_instance.content %>
</p>

<p>
  <b>Task instancable type:</b>
  <%= @task_instance.task_instancable_type %>
</p>

<p>
  <b>Task instancable:</b>
  <%= @task_instance.task_instancable_id %>
</p>

<p>
  <b>Score:</b>
  <%= @task_instance.score %>
</p>

<p>
  <b>State:</b>
  <%= @task_instance.state %>
</p>



