<div class="control-group">
  
  <div class="controls">
    <fieldset state='<%= f.object.state%>'>
      <legend><%= f.object.title%></legend>
      <% if f.object.state == 'single'%>
      <%= f.fields_for :choices do |choice_f|%>
      <label class="radio inline">
        <%= choice_f.radio_button :answer,choice_f.object.answer,:checked=>choice_f.object.answer==true%><%=choice_f.object.title%>
      </label><br/>
      <% end %>
      <label class="radio inline">
      其他:<%= f.text_field :description,:rows=>5,:class=>'text_field'%>
      </label>
      <% end %>
      <% if f.object.state == 'multi'%>
      <%= f.fields_for :choices do |choice_f|%>
      <label class="checkbox inline">
        <%= choice_f.check_box :answer%><%=choice_f.object.title%>
      </label><br/>
      <% end %>
      <label class="radio inline">
      其他:<%= f.text_field :description,:rows=>5,:class=>'text_field'%>
      </label>
      <% end %>
      <% if f.object.state == 'judge'%>
      <label class="radio inline">
        <%= f.radio_button :judge_choice,true%>是
      </label><br/>
      <label class="radio inline">
        <%= f.radio_button :judge_choice,false%>否
      </label><br/>
      <label class="radio inline">
      其他:<%= f.text_field :description,:rows=>5,:class=>'text_field'%>
      </label>
      <% end %>
      <% if f.object.state == 'survey'%>
      <label class="radio inline">
      <%= f.text_area :description,:rows=>5,:class=>'text_area'%>
      </label>
      <% end %>
    </fieldset>
  </div>
</div>