<%=render 'common/css'%>
<div class="page-header">
  <h1>开始评测</h1>
</div>
<%
  @url = start_project_review_path(@project,@review)
%>

<%= form_for @review, :url => @url,
                             :html => {:id => 'review-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <%= error_messages_for 'review' %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title,:disabled=>true, :placeholder => 'me@example.com',:require=>true%>
        <%= f.hidden_field :id%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :student, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :student_id,:value=>@student.username,:disabled=>true, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :will, :class => 'control-label' %>
      <div class="controls">
        <%Review::Will.each do |will|%>
        <label class="radio inline">
          <%= f.radio_button :will, will%><%=will%>
        </label>
      <%end%> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label :xuanke, :class => 'control-label' %>
      <div class="controls">
        <% Course.all.each_with_index do |course,index|%>
        <label class="checkbox">
          <%=check_box_tag 'review[courses_id][]', course.id, f.object.klasses.include?(course)%>
          <%=course.title%>
        </label>
        <% end %>
      </div>
    </div>
    <%= f.fields_for :questions do |question_f|%>
    <%=render 'api/review_item',:f=>question_f%>
    <% end %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn ' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  project_reviews_path(@project), :class => 'btn' %>
    </div>
<% end %>
<script>
$(function(){
  $("fieldset[state='single']").each(function(){
    var parent = this; 
    $(this).find("input[type='radio']").click(function(){
      var that = this;
      if($(this).is(":checked")){
        $(parent).find("input[type='radio']").each(function(){
          if($(this).attr('name')!=$(that).attr('name')){
            $(this).removeAttr('checked')
          }
        })
      }
    })
    return true;
  })
})
</script>