<%=render 'common/css'%>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<%
  if @notification.new_record?
    @url = project_notifications_path(@project)
  else
    @url = project_notification_path(@project,@notification)
  end
%>
<%= simple_form_for @notification, :url => @url, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group ">
    <%= f.label :student_id, :class => ' control-label' %>
    <div class="controls">
      <%= f.collection_select :person_id, Student.all, :id, :username,{},{:multiple=>true,:class=>'span2'} %>
    </div>
  </div>

  <%= f.input :title %>
  <%= f.input :state,:collection=>['无需确认通知','需确认通知'] %>
  <%= f.input :content,:input_html=>{:rows=>5} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_notifications_path(@project), :class => 'btn' %>
  </div>
<% end %>

<script>
  $(function(){
    $("#notification_person_id").val(gon.students_id).select2({
      placeholder: "请选择学员",
    })
    // $("#notification_person_id").
    $('#notification_content').summernote({
      lang: 'zh-CN',
      toolbar: [
        ['insert', ['link']], // no insert buttons
      ]
    });
    
  })
</script>
<style>
.modal-backdrop{display: none!important}
.note-editor{width:400px;}
.icon-link{background-position: 0,0}
</style>