<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <!-- <th>资源</th> -->
      <th>类型</th>
      <th>接收人</th>
      <th>通知时间</th>
      <th>状态</th>
      <th>确认来源</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |notification| %>
      <tr>
        <td><%= link_to notification.title, project_notification_path(@project,notification) %></td>
<!--         <td>
          <% if notification.notificatable.is_a? Klassplan  %>
          <%= link_to notification.notificatable.id, project_klassplan_path(@project,notification.notificatable)%>
          <% end %>
        </td> -->
        <td><%= notification.state_zh %></td>
        <td><%= notification.person.try(:username) %></td>
        <td><%= notification.notify_at.to_formatted_s(:db) %></td>
        <td>
          <%=response_msg(notification)%>
        </td>
        <td><%= notification.laiyuan%></td>
      </tr>
    <% end %>
  </tbody>
</table>