<%=render 'common/css'%>
<h1>通知列表</h1>

<%=render 'notifications/table',:collection=>@notifications %>

<%= paginate @notifications %>

<%= link_to '创建通知',
            new_project_notification_path(@project),
            :class => 'btn' %>


