<%=render 'common/css'%>
<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
<tr>
	<td>
  	<b>标题:</b>
	</td>
  <td><%= @notification.title %></td>
</tr>

<tr>
	<td>
  	<b>通知类型:</b>
	</td>
  <td><%= t @notification.state %></td>
</tr>

<tr>
	<td>
  	<b>通知时间:</b>
	</td>
  <td><%= @notification.notify_at %></td>
</tr>

<tr>
	<td>
  	<b>收件人:</b>
	</td>
  <td><%= @notification.person.try(:username) %></td>
</tr>

<tr>
	<td>
  	<b>内容:</b>
	</td>
  <td><%= @notification.content.html_safe %></td>
</tr>
</table>
<%= link_to '通知列表', project_notifications_path(@project),:class=>'btn' %>
