<%= will_filter_tag(@clients) %>
<%= render 'students/index',:collection=>@clients%>
<%= paginate @clients %>
<%= link_to '创建',
            new_project_client_path(@project),
            :class => 'btn' %>

