<table class="table table-striped table-bordered">
	<thead>
    <tr>
    	<td>学员</td>
      <td>状态</td>
    	<td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
      <tr>
      	<td><%=item.baoming.student.username%></td>
        <td><%=item.state_zh%></td>
    		<td>
          <%=link_to('批准请假', leave_baomings_klassplanitem_path(item),:class=>'btn btn-mini') unless item.leaved? %>
          <%=link_to('签到', finish_baomings_klassplanitem_path(item),:class=>'btn btn-mini') unless item.finished?%>
          <%=link_to('旷课', uncomplete_baomings_klassplanitem_path(item),:class=>'btn btn-mini') unless item.uncompleted?%>
    			
    		</td>
      </tr>
    <% end %>
  </tbody>
</table>