<h1>Listing klassplanitems</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @klassplanitems.each do |klassplanitem| %>
  <tr>
    <td><%= link_to 'Show', klassplanitem %></td>
    <td><%= link_to 'Edit', edit_klassplanitem_path(klassplanitem) %></td>
    <td><%= link_to 'Destroy', klassplanitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Klassplanitem', new_klassplanitem_path %>
