<%=render 'common/css'%>
<div class="page-header">
  <h1>签到</h1>
</div>

<%=render 'klassplanitems/table',:collection=>@klassplanitem.baomings_klassplanitems%>

<%= link_to '返回', project_klassplan_path(@klassplanitem.klassplan.project,@klassplanitem.klassplan) %>
