<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>State</th>
    <th>Applied at</th>
    <th>Passed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.company %></td>
    <td><%= candidate.position %></td>
    <td><%= candidate.state %></td>
    <td><%= candidate.applied_at.to_formatted_s(:db) %></td>
    <td><%= candidate.passed_at.to_formatted_s(:db) %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
