<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
<p>
  <b>Company:</b>
  <%= @candidate.company %>
</p>

<p>
  <b>Position:</b>
  <%= @candidate.position %>
</p>

<p>
  <b>State:</b>
  <%= @candidate.state %>
</p>

<p>
  <b>Applied at:</b>
  <%= @candidate.applied_at %>
</p>

<p>
  <b>Passed at:</b>
  <%= @candidate.passed_at %>
</p>



