<%- model_class = Warning -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class='pull-right'>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              warnings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_warning_path(@warning), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              warning_path(@warning),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>  
<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
    <td><%= @warning.title %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:person_id) %>:</strong></td>
    <td><%= @warning.person_id %></td>
  </tr>
</table>


