<%=render 'common/css'%>
<%
  if @teacher.new_record?
    @url = project_teachers_path(@project)
  else
    @url = project_teacher_path(@project,@teacher)
  end
%>

<%= form_for @teacher, :url => @url,
                             :html => {:id => 'teacher-form', :multipart => true,:class=>'form-horizontal'} do |f| %>
  <%= error_messages_for 'teacher' %>   
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qq, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :qq, :class => 'text_field' %>
    </div>
  </div>                          
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_teachers_path(@project), :class => 'btn' %>
  </div>
<% end %>
