<%=render 'common/css'%>
<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:qq) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.username, project_teacher_path(@project,teacher) %></td>
        <td><%= teacher.phone %></td>
        <td><%= teacher.qq %></td>
        <td><%= teacher.created_at.to_formatted_s(:db) %></td>
        <td>
          <%= link_to t('.duplicate', :default => t("helpers.links.duplicate")),
                      duplicate_project_teacher_path(@project,teacher), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_teacher_path(@project,teacher), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_teacher_path(@project,teacher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @teachers %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_teacher_path(@project),
            :class => 'btn ' %>
