<%=render 'common/css'%>
<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%=@teacher.username %></h1>
</div>
<div class="row">
  <div class="pull-right">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_teachers_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_teacher_path(@project,@teacher), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_teacher_path(@project,@teacher),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">日历</a></li>
  <li class=""><a href="#tab3" data-toggle="tab">通知</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong><%= model_class.human_attribute_name(:username) %>:</strong></td>
        <td><%= @teacher.username %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:phone) %>:</strong></td>
        <td><%= @teacher.phone %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:qq) %>:</strong></td>
        <td><%= @teacher.qq %></td>
      </tr>  
    </table>
  </div>
  <div class="tab-pane" id="tab2">
    <%=render 'klassplans/dashboard'%>
  </div>
  <div class="tab-pane " id="tab3">
    <%=render 'notifications/table',:collection=>@teacher.notifications.order('id desc')%>
  </div>
</div>



