<%=render 'common/css'%>
<%- model_class = Feedback -%>
<div class="page-header">
  <h1>反馈</h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>学员</th>
      <th>内容</th>
      <th>反馈时间</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |item| %>
    <tr>
      <th><%=item.student.try(:username)%></th>
      <th><%=item.content%></th>
      <th><%=item.created_at.to_formatted_s(:db)%></th>
    </tr>
    <% end %>
  </tbody>
</table>