
<%
  if @room.new_record?
    @url = project_rooms_path(@project)
  else
    @url = project_room_path(@project,@room)
  end
%>

<%= simple_form_for @room, :url => @url,
                             :html => {:id => 'room-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <%= error_messages_for 'room' %>

  <%= f.input :title %>
  <%= f.input :projector %> 
  <%= f.input :sound %> 
  <%= f.input :mic %> 
  <%= f.input :laser %> 
  <%= f.input :network %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_rooms_path(@project), :class => 'btn' %>
  </div>
<% end %>
