$("#rooms").html("<%=escape_javascript(render 'rooms_select.html',:collection=>@rooms) %>")

$("#rooms_id").val([]).select2()

$("#rooms_id").select2("container").find("ul.select2-choices").sortable({
	containment: 'parent',
	update: function() {
		// console.log($("#rooms_id").val())
	}
});

$(".select2-container").addClass('span3')