<%=render 'common/css'%>
<%- model_class = Room -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th><%= model_class.human_attribute_name(:projector) %></th>
      <th><%= model_class.human_attribute_name(:sound) %></th>
      <th><%= model_class.human_attribute_name(:mic) %></th>
      <th><%= model_class.human_attribute_name(:laser) %></th>
      <th><%= model_class.human_attribute_name(:network) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.title, project_room_path(room.project,room) %></td>
        <td><%= shifou room.projector %></td>
        <td><%= shifou room.sound %></td>
        <td><%= shifou room.mic %></td>
        <td><%= shifou room.laser %></td>
        <td><%= shifou room.network %></td>
        <td>
          <%= link_to t('duplicate', :default => t("helpers.links.duplicate")),
                      duplicate_project_room_path(room.project,room), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_room_path(room.project,room), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_room_path(room.project,room),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @rooms %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_room_path(@project),
            :class => 'btn ' %>
