<%=render 'common/css'%>
<%- model_class = Room -%>
<div class="page-header">
  <h1><%=@room.title %></h1>
</div>
<div class="row">
  <div class="pull-right">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_rooms_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_room_path(@room.project,@room), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_room_path(@room.project,@room),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">日历 </a></li>
  </ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
    <table class="list table table-striped table-bordered">
      <tr>
        <td><strong>名称:</strong></td>
        <td><%= @room.title %></dd>
      </tr>   
      <tr>
        <td><strong><%= model_class.human_attribute_name(:projector) %>:</strong></td>
        <td><%= shifou @room.projector %></dd>
      </tr>   
      <tr>
        <td><strong><%= model_class.human_attribute_name(:sound) %>:</strong></td>
        <td><%= shifou @room.sound %></dd>
      </tr>   
      <tr>
        <td><strong><%= model_class.human_attribute_name(:mic) %>:</strong></td>
        <td><%= shifou @room.mic %></dd>
      </tr>   
      <tr>
        <td><strong><%= model_class.human_attribute_name(:laser) %>:</strong></td>
        <td><%= shifou @room.laser %></dd>
      </tr>   
      <tr>
        <td><strong><%= model_class.human_attribute_name(:network) %>:</strong></td>
        <td><%= shifou @room.network %></dd>
      </tr>   
    </table>
  </div>
  <div class="tab-pane  " id="tab2">
    <%=render 'klassplans/dashboard'%>
  </div>
</div>   


