.wf_actions_bar_yellow {
	margin-top:10px; 
	margin-bottom:10px; 
	padding:10px; 
	background-color: #f9f8f7;
	border-color: #E8E8E8 #BABABA #BABABA #E8E8E8;
	border-style: solid;
	border-width: 1px;
 	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}	

.wf_actions_bar_blue {
  margin-top:10px; 
  margin-bottom:10px; 
  padding:10px; 
  background-color: #f1f4fa;
  border-color: #E8E8E8 #BABABA #BABABA #E8E8E8;
  border-style: solid;
  border-width: 1px;
 	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;	
}