.wf_calendar_trigger {border:0px; padding-left:2px; padding-right:2px;}

.wf_calendar {
	background-color:#eee; 
	position:absolute; 
	font-size:10px; 
	border:solid 1px #e8e8e8; 
	border-color:#e8e8e8 #bababa #bababa #e8e8e8;
	padding: 5px; 
 	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;	
  box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
}
.wf_calendar input {
	border: 1px solid #ccc; 
	font-size: 12px; 
	font-family: Arial; 
	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;		
}
.wf_calendar select {
	border: 1px solid #ccc; 
	font-size: 12px; 
	font-family: Arial; 
	padding:2px;
	background-color:#EDEDED;
	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;	
	}	
.wf_calendar_container {
	background-color:white; 
	padding: 5px; 
	margin: 5px; 
	font-size:10px; 
	border:solid 1px #bababa; 
	border-color:#bababa #e8e8e8 #e8e8e8 #bababa; 
 	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;	
}

.wf_calendar_table {
	width:100%;
  td {
		padding:2px; 
		margin:2px; 
		text-align:center; 
		vertical-align:top;
	}
	img {
		border: 0px;
	}
}

.wf_calendar_cells {
	border:1px dotted #ccc; 
	width:100%; 
	padding:2px; 
	margin:0px; 
	td {
		padding:2px; 
		border: 0px; 
		text-align:center; 
		vertical-align:middle; 
		font-size:8px; 
		color:black; 
		background-color:white;
		cursor:pointer;
	} 
}

.wf_calendar_title {
	text-align:center; 
	border-top:1px solid #ccc; 
	border-bottom:1px solid #ccc; 
	background: #eee;
}

.wf_calendar_date_cell {
	width:11px; 
	border: 1px solid #ccc; 
	padding:2px; 
	margin:1px; 
	cursor:pointer; 
	vertical-align:middle; 
	text-align:center; 
	background-color:white;
}

.wf_calendar_date_cell.today            {background-color:light-blue; } 
.wf_calendar_date_cell.selected         {background-color:#ccc; } 
.wf_calendar_date_cell:hover            {background-color:#ccc; } 
