.wf_exporter_header {
  font-size:12px;
  font-weight:bold;
  margin:0 10px;
}
.wf_exporter_header .close {
  text-decoration:none;
  font-size:18px;
  color:#888;
  &:hover { color:#222;}
}

.wf_exporter {
  background-color:#eee;
  position:absolute;
  width:230px;
  padding: 5px;
  font-size:10px;
  border:solid 1px #e8e8e8;
  border-color:#e8e8e8 #bababa #bababa #e8e8e8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
  -moz-box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow:2px 3px 3px 2px rgba(0,0,0,0.6);
}

.wf_exporter img {
  border: 0px;
}

.wf_exporter input {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.wf_exporter select  {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
  background-color:#EDEDED;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.wf_exporter table {
  width:100%;
  border-collapse: collapse;
  font-size:12px;
  padding:0px;
  margin:0px;

  

}

.wf_exporter table thead tr {
   border-bottom:1px solid #bababa;
   font-weight:bold;
}

.wf_exporter table td {
  vertical-align:top;
  padding: 0px;
  margin: 0px;
}
.wf_exporter .center { padding-bottom: 5px;}

.wf_exporter_container {
  background-color:white;
  padding: 5px;
  margin: 5px;
  font-size:10px;
  border:solid 1px #bababa;
  border-color:#bababa #e8e8e8 #e8e8e8 #bababa;
   border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

