
.wf_container {
  padding:0px;
  background:#f1f4f9;
  margin:0px;
  margin-bottom:10px;
  font-size: 12px;
  font-family: Arial;
  width: 100%;
  border:solid 1px #e8e8e8;
  border-color:#e8e8e8 #bababa #bababa #e8e8e8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.wf_container .spinner {
  font-size: 10px;

  
}
.wf_container .spinner img {vertical-align:middle;}
.wf_container .debugger {
  padding:5px;
  margin:2px;
  background:white;
  border:solid 1px #bababa;
  border-color:#bababa #e8e8e8 #e8e8e8 #bababa;
  font-size:10px;
  color: #777;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.wf_container .footer {
  padding:5px;
  margin-top:3px;
  .actions {
    float:right;
  }
  
}
.wf_container .footer small {font-size:9px;}
.wf_container .conditions {
  padding:0px;
  margin:5px;
}
.wf_container .conditions .header {
  margin:0px;
  height:25px;
  padding:5px;
}
.wf_container .conditions .body {
  padding:5px;
  background:white;
  border:solid 1px #bababa;
  border-color:#bababa #e8e8e8 #e8e8e8 #bababa;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  
}
.wf_container .conditions .body .no_filter_hint {
  font-style:italic;
  padding:5px;
  color: black;
}

.wf_container .conditions .body .filter_match_type {
  padding:5px;
}
.wf_container .conditions .condition {
  padding-left:5px;
  padding-right:2px;
  padding-bottom:0px;
  width:20%;
  white-space:nowrap;
  vertical-align: top;
}
.wf_container .conditions .operator {
  padding-right:2px;
  padding-bottom:0px;
  width:15%;
  white-space:nowrap;
  vertical-align: top;
}
.wf_container .conditions .values {
  padding-right:2px;
  width:70%;
  margin:0px;
  vertical-align:top;
}
.wf_container .conditions .actions {
  padding-right:5px;
  padding-bottom:2px;
  white-space:nowrap;
  text-align:right;
  width:100px;
  vertical-align: top;
}
.wf_container .conditions .table {
  border:0px;
  width:100%;
  margin:0px;
  padding:0px;
}
.wf_container .conditions .table td {
  padding: 2px;
  vertical-align:top;
  white-space:nowrap;
}

.wf_container .conditions .table td.actions {padding:0;}
.wf_container .conditions .table .error {
  padding: 2px 10px;
  margin:2px;
  font-size: 10px;
  background-color: #ffeded;
  font-family: Arial;
  border: 1px #f58a8a solid;
  color:#b60e0e;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.wf_container .conditions .values {
  border:0px;
  width:100%;
  margin:0px;
  padding:0px;
  
}
.wf_container .conditions .values td {
  vertical-align:top;
  padding: 0px;
  margin: 0px;
}
input {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
  margin:0px;
  padding: 2px !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

select {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial;
  margin:0px;
  padding: 1px !important;
  background-color:#EDEDED;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

a {
  text-decoration:none;
  color:#16b;
  outline:none;
  border:0px;
}

img {
  border:0px;
}
.end {float:right;}
.begin {float:left;}
.center {text-align:center;}
.full_width {width:100% !important;}

.boolean_container {
  vertical-align:middle;
  text-align:left;
  padding-top:2px;
}


