<%=render 'common/css'%>
<%
  if @course.new_record?
    @url = project_courses_path(@project)
  else
    @url = project_course_path(@project,@course)
  end
%>

<%= simple_form_for @course,:url=>@url, :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_messages_for 'course' %>
  <%= f.input :title %>
  <%= f.input :color %>
  <%= f.input :price %>
  <%= f.input :menu,:collection=>Course::Menu,:as=>:radio_buttons %>
  <div class="control-group">
    <%= f.label :parents_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :parents_id, options_from_collection_for_select(@course.new_record? ? Course.all : Course.where("id != ?",@course.id),'id','title'),:multiple=>true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :teachers_id, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :teachers_id, options_from_collection_for_select(@project.teachers,'id','username'),:multiple=>true %>
    </div>
  </div>
  <%= f.input :parents_finished_limit %>
  <%= f.input :parents_finished_or_learning_limit %>
  <%= f.input :parents_learning_or_planed_limit %>
  <%= f.input :projector %>
  <%= f.input :sound %>
  <%= f.input :mic %>
  <%= f.input :network %>
  <%= f.input :laser %>
  <div class="control-group">
    <label class='control-label'><%= t :field_room%></label>
    <div class="controls" id='rooms'>
      <%= f.object.rooms.collect{|i|i.title}.join(',')%>
    </div>
  </div>
  <%= f.input :chaban %>
  <%= f.input :video_makeup %>
  <%= f.input :capacity,:collection=>Course::Capacity,:as=>:radio_buttons %>
  <%= f.input :capacity_allowed %>
  <%= f.input :duration,:collection=>Course::Duration,:as=>:radio_buttons %>
  <%= f.input :style,:collection=>Course::Style,:as=>:radio_buttons %>
  <%= f.input :kind,:collection=>Course::Kind,:as=>:radio_buttons %>
  <%= f.input :frequency %>
  <%= f.input :cycle %>
  <%= f.input :section %>
  <%= f.input :score %>
  <%= f.input :remark,:input_html=> { :rows=>5 } %>
  <%= f.input :tools,:input_html=> { :rows=>5 } %>
  <%= f.input :need_before_task %>
  <%= f.input :before_task,:input_html=> { :rows=>5 } %>
  <%= f.input :need_after_task %>
  <%= f.input :after_task,:input_html=> { :rows=>5 } %>
  
  <%=f.fields_for :tasks do |builder|%>
  <%=render 'tasks/taskable_form',:f=>builder%>
  <% end %>

  <%= f.input :description,:input_html=> { :rows=>5 } %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_courses_path(@project), :class => 'btn' %>
  </div>
<% end %>

<script>
  $(function(){
    $("#course_mic,#course_projector,#course_sound,#course_network,#course_laser").change(function(){
      $.post('<%=filter_rooms_project_rooms_path(@project)%>.js',{
        mic:$("#course_mic").is(':checked'),
        projector:$("#course_projector").is(':checked'),
        sound:$("#course_sound").is(':checked'),
        network:$("#course_network").is(':checked'),
        laser:$("#course_laser").is(':checked'),
      },function(data){

      })
      
    })
    $("#parents_id").val(<%=@course.parents.collect{|i|i.id}%>).select2()

    $("#parents_id").select2("container").find("ul.select2-choices").sortable({
        containment: 'parent'
    });

    $("#teachers_id").val(<%=@course.teachers.collect{|i|i.id}%>).select2()

    $("#teachers_id").select2("container").find("ul.select2-choices").sortable({
        containment: 'parent'
    });

    $(".select2-container").addClass('span3')


  })
  
  $("#course_need_before_task").change(function(){
    update_before_task()
  })

  $("#course_need_after_task").change(function(){
    update_after_task()
  })

  function update_before_task(){
    if($("#course_need_before_task").is(':checked')){
      $("#course_before_task").parent().parent().show()
    }else{
      $("#course_before_task").parent().parent().hide()
    }
  }

  function update_after_task(){
    if($("#course_need_after_task").is(':checked')){
      $("#course_after_task").parent().parent().show()  
    }else{
      $("#course_after_task").parent().parent().hide()  
    }
  }
  update_before_task()
  update_after_task()
  
</script>