<%=render 'common/css'%>
<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><strong>已付款、未排课学员总数</strong></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:projector) %></th>
      <th><%= model_class.human_attribute_name(:sound) %></th>
      <th><%= model_class.human_attribute_name(:network) %></th>
      <th><%= model_class.human_attribute_name(:laser) %></th>

      <th><%= model_class.human_attribute_name(:chaban) %></th>
      <th><%= model_class.human_attribute_name(:video_makeup) %></th>
      
      <th><%= model_class.human_attribute_name(:need_before_task) %></th>
      <th><%= model_class.human_attribute_name(:need_after_task) %></th>

      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:capacity_allowed) %></th>
      
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:frequency) %></th>
      <th><%= model_class.human_attribute_name(:cycle) %></th>
      <th><%= model_class.human_attribute_name(:section) %></th>
      <th><%= model_class.human_attribute_name(:kind) %></th>
      
      <th><%= model_class.human_attribute_name(:style) %></th>
      
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:menu) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, project_course_path(@project,course) %></td>
        <td><%= course.baomings.payed.count %></td>
        <td><%= course.price %></td>
        <td><%= course.color %></td>
        <td><%= need course.projector %></td>
        <td><%= need course.sound %></td>
        <td><%= need course.network %></td>
        <td><%= need course.laser %></td>

        <td><%= keyi course.chaban %></td>
        <td><%= keyi course.video_makeup %></td>

        <td><%= need course.need_before_task %></td>
        <td><%= need course.need_after_task %></td>

        <td><%= course.capacity %></td>
        <td><%= course.capacity_allowed %></td>
        
        <td><%= course.duration %></td>
        <td><%= course.frequency %></td>
        <td><%= course.cycle %></td>
        <td><%= course.section %></td>
        <td><%= course.kind %></td>
        
        <td><%= course.style %></td>
        
        <td><%= course.score %></td>
        <td><%= course.menu %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_course_path(@project,course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_course_path(@project,course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_course_path(@project),
            :class => 'btn ' %>
