<%=render 'common/css'%>
<%- model_class = Course -%>
<div class="page-header">
  <h1><%=@course.title %></h1>
</div>
<div class="row">
  <div class='pull-right'>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_courses_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_course_path(@project,@course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_course_path(@project,@course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>            
</div>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">日历</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
        <td><%= @course.title %></td>
      </tr>
      <tr>
        <td><strong>已付款、未排课学员总数</strong></td>
        <td><%= @course.baomings.payed.count %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:color) %>:</strong></td>
        <td><div style='background:<%= @course.color %>;width:20px;height:20px;'></div></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:price) %>:</strong></td>
        <td><%= @course.price %></td>
      </tr>    
      <tr>
        <td><strong><%= model_class.human_attribute_name(:menu) %>:</strong></td>
        <td><%= @course.menu %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:parents) %>:</strong></td>
        <td>
          <% @course.parents.each do |parent|%>
          <%= link_to parent.title,project_course_path(@project,parent)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:children) %>:</strong></td>
        <td>
          <% @course.children.each do |child|%>
          <%= link_to child.title,project_course_path(@project,child)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:teachers) %>:</strong></td>
        <td>
          <% @course.teachers.each do |teacher|%>
          <%= link_to teacher.username,project_teacher_path(@project,teacher)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:rooms) %>:</strong></td>
        <td>
          <% @course.rooms.each do |room|%>
          <%= link_to room.title,project_course_path(@project,room)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:parents_finished_limit) %>:</strong></td>
        <td><%= @course.parents_finished_limit %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:parents_finished_or_learning_limit) %>:</strong></td>
        <td><%= @course.parents_finished_or_learning_limit %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:parents_learning_or_planed_limit) %>:</strong></td>
        <td><%= @course.parents_learning_or_planed_limit %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:projector) %>:</strong></td>
        <td><%= need @course.projector %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:sound) %>:</strong></td>
        <td><%= need @course.sound %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:mic) %>:</strong></td>
        <td><%= need @course.mic %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:network) %>:</strong></td>
        <td><%= need @course.network %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:laser) %>:</strong></td>
        <td><%= need @course.laser %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:chaban) %>:</strong></td>
        <td><%= keyi @course.chaban %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:video_makeup) %>:</strong></td>
        <td><%= keyi @course.video_makeup %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></td>
        <td><%= @course.capacity %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:capacity_allowed) %>:</strong></td>
        <td><%= @course.capacity_allowed %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:duration) %>:</strong></td>
        <td><%= @course.duration %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></td>
        <td><%= @course.frequency %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:cycle) %>:</strong></td>
        <td><%= @course.cycle %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:section) %>:</strong></td>
        <td><%= @course.section %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:kind) %>:</strong></td>
        <td><%= @course.kind %></td>
      </tr>    
      <tr>
        <td><strong><%= model_class.human_attribute_name(:style) %>:</strong></td>
        <td><%= @course.style %></td>
      </tr>    
      <tr>
        <td><strong><%= model_class.human_attribute_name(:score) %>:</strong></td>
        <td><%= @course.score %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:remark) %>:</strong></td>
        <td><%= @course.remark %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:need_before_task) %>:</strong></td>
        <td><%= need @course.need_before_task %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:before_task) %>:</strong></td>
        <td><%= @course.before_task %></td>
      </tr>    
      <tr>
        <td><strong><%= model_class.human_attribute_name(:need_after_task) %>:</strong></td>
        <td><%= need @course.need_after_task %></td>
      </tr>  
      <tr>
        <td><strong><%= model_class.human_attribute_name(:after_task) %>:</strong></td>
        <td><%= @course.after_task %></td>
      </tr>  
    </table>
  </div>
  <div class="tab-pane " id="tab2">
<%=render 'klassplans/dashboard'%>
</div>
</div>
