<h1>Listing notification_templates</h1>

<table>
  <tr>
    <th>State</th>
    <th>Title</th>
    <th>Content</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notification_templates.each do |notification_template| %>
  <tr>
    <td><%= notification_template.state %></td>
    <td><%= notification_template.title %></td>
    <td><%= notification_template.content %></td>
    <td><%= notification_template.project_id %></td>
    <td><%= link_to 'Show', notification_template %></td>
    <td><%= link_to 'Edit', edit_notification_template_path(notification_template) %></td>
    <td><%= link_to 'Destroy', notification_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification template', new_notification_template_path %>
