<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @notification_template.state %>
</p>

<p>
  <b>Title:</b>
  <%= @notification_template.title %>
</p>

<p>
  <b>Content:</b>
  <%= @notification_template.content %>
</p>

<p>
  <b>Project:</b>
  <%= @notification_template.project_id %>
</p>


<%= link_to 'Edit', edit_notification_template_path(@notification_template) %> |
<%= link_to 'Back', notification_templates_path %>
