<% if klassplan.klass %>
<%=fields_for klassplan do |local_form| %>
<div class="control-group">
  <%= local_form.label :teacher_id,t(:field_teacher_id), :class => 'control-label' %>
  <div class="controls">
  	<%=collection_select :klassplan,:teacher_id,klassplan.klass.teachers,:id,:username,:disabled=>klassplan.unavailable_teachers(false).collect{|t|t.id}%>
  </div>
  <% end %>
</div>
<% end %>