<% if klassplan.klass %>
<%= fields_for klassplan do |local_form| %>
<div class="control-group">
  <%= local_form.label :room_id, :class => 'control-label' %>
  <div class="controls">
    <%=collection_select :klassplan,:room_id,klassplan.klass.rooms,:id,:title,:disabled=>klassplan.unavailable_rooms(false).collect{|t|t.id}%>
  </div>
  <% end %>
</div>
<% end %>