<%

	category = klassplan.category unless category

	if category == 'service'
    menus = Service.select_group
  elsif category == 'course'
    menus = Course.select_group
  end
  
%>
<% 
if menus 
	options = option_groups_from_collection_for_select(menus,:items,:title,:id,:title,klassplan.klass_id)
%>
<div class="control-group">
<label class="control-label" for="klassplan_menu">选择课程或服务</label>
  <div class="controls">
    <%=select_tag 'klassplan[klass_id',options%>
  </div>
</div>
<% end %>
