<% if klassplan.klass %>
<div class="control-group">
	<label class='control-label'>已报名学员</label>
  <div class="controls">
  	<table class="table table-striped table-bordered">
			<thead>
		    <tr>
		    	<th>是否排课</th>
		      <th>学员</th>
		      <th>报名日期</th>
		      <th>付款状态</th>
		      <th>赠送课程</th>
		      <% klassplan.klass.all_parents.each do |parent|%>
		      <% if parent.is_a? Course %>
		      <th><%=link_to parent.title,project_course_path(@project,parent)%></th>
		      <% end %>
		      <% if parent.is_a? Service %>
		      <th><%=link_to parent.title,project_service_path(@project,parent)%></th>
		      <% end %>
		      <% end  %>
		    </tr>
		  </thead>
		  <tbody>
		  	<% (klassplan.baomings+klassplan.klass.baomings.payed+klassplan.klass.baomings.unpayed).uniq.sort_by{|i|i.created_at}.each do |bm|%>
		    <tr>
		    	<td><%=check_box_tag 'baoming_id',bm.id,klassplan.baomings.include?(bm),:disabled=>(bm.klassplanable? != true)%></td>
		    	<td><%=bm.student.try(:username)%></td>
		      <td><%=bm.created_at%></td>
		      <td><%=t bm.state%></td>
		      <td><%=shifou bm.free%></td>
		      <% klassplan.klass.all_parents.each do |parent|%>
		      <td><%=person_klass_status(bm.student,parent)%></td>
		      <% end %>
		    </tr>
		    <% end%>
		  </tbody>
		</table>
  </div>
</div>
<% end  %>
<script>
$(function(){
	$("input[name='baoming_id']").change(function(){
		var baoming_id = $(this).val()
		var baoming = $(this).is(':checked');
		$.post('<%=ajax_baoming_project_klassplan_url(@project,@klassplan)%>.js',{
			baoming_id:baoming_id,
			baoming:baoming
		},function(){

		})
	})
})
</script>