<%= fields_for klassplan do |klassplan_form| %>
<div class="control-group">
	<label class="control-label" for="klassplan_start_at">排课计划</label>
  <div class="controls">
  	<% index = 0%>
		<%= klassplan_form.fields_for :klassplanitems do |kpi_form|%>
		第<%= index = index+1%>节:
    <div class="input-append date">
      <%= kpi_form.text_field :start_at, :class => 'text_field','data-format'=>"yyyy-MM-dd hh:mm" %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>

    <div class="input-append date">
      <%= kpi_form.text_field :end_at, :class => 'text_field','data-format'=>"yyyy-MM-dd hh:mm" %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>

    <div class="input-append">
      <span class="add-on">
        <%=link_to '签到',klassplanitem_path(kpi_form.object)%>
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
      
    </div>
    <br/><br/>
    
    <% end %>
  </div>
</div>
<% end %>
<script>
	$(function(){
		$("input[name*='start_at'],input[name*='end_at']").parent().datetimepicker({
		  language: 'zh-CN',
		  pickDate: true,
		  pickSeconds:false
		})
		$("input[id*=klassplan_klassplanitems_attributes_]").parent().on('changeDate',function(e){
		  $("#klassplan-form").submit()
		  $.post('<%=ajax_resources_project_klassplan_url(@project,@klassplan)%>.js')
		})	
	})
</script>
