<br/><br/>
<% _id = rand(100000) %>
<%= include_gon %>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'fullcalendar.css', :plugin => 'sicheng' %>
	<%= javascript_include_tag 'jquery-ui.custom.min.js', :plugin => 'sicheng' %>
	<%= javascript_include_tag 'fullcalendar.js', :plugin => 'sicheng' %>
	<%= javascript_include_tag 'datepicker-zh-CN.js', :plugin => 'sicheng' %>
	
<% end %>
<script>
  
	$(document).ready(function() {
		
		window.c = $('#calendar<%=_id%>').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: gon.calendar_events
		});
		
		 $('#datepicker<%=_id%>').datepicker({
        inline: true,
        onChangeMonthYear:function(year,month, inst) {
            var d = new Date();
            d.setYear(year)
            d.setMonth(month-1)
            $('#calendar<%=_id%>').fullCalendar('gotoDate', d);
        },
        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#calendar<%=_id%>').fullCalendar('gotoDate', d);
        }
    });
     //日历默认不显示 , 切换tab时显示日历
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $("div[id^='calendar']").fullCalendar('render');
    })
	});

</script>
<div class='row'>
	<div class='span3'>
		<div id="datepicker<%=_id%>"></div>
	</div>
	<div class='span9'>
		<div id='calendar<%=_id%>'></div>
	</div>
</div>



<br/><br/><br/>