<%=render 'common/css'%>
<%- model_class = Klassplan -%>
<%
  if @klassplan.new_record?
    @url = project_klassplans_path(@project)
  else
    @url = project_klassplan_path(@project,@klassplan)
  end
%>

<%= simple_form_for @klassplan,:url=>@url, :html => {:id => 'klassplan-form',:class=>'form-horizontal', :multipart => true} do |f| %>
	<%#= error_messages_for 'klassplan' %>	

	<%#= error_messages_for 'klassplanitems' %>	
	<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">课程计划</a></li>
    <li class=""><a href="#tab3" data-toggle="tab">报名学员</a></li>
    <li class=""><a href="#tab4" data-toggle="tab">补课学员</a></li>
    <% unless @klassplan.new_record?%>
    <li class=""><a href="#tab5" data-toggle="tab">插班学员</a></li>
    <% end %>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active " id="tab1">
	
	<!-- 已有排课课程 ， 开始排课 -->
		<%= f.input :klass_type,:collection=>i18n_collection(Klassplan::KlassType),:as=>:radio_buttons,:value_method=>:value,:label_method=>:label,:disabled=>false %>
		<% if !@klassplan.new_record? && @klassplan.klass_type == 'service' %>
		<%= f.input :finished%>
		<% end %>
		<%= f.association :klass,:as=>:grouped_select, :collection=> Course.select_group,:group_method=>:items,:group_label_method=>:title,:wrapper_html=>{:class=>'course'},:disabled=>false  %>
		<%= f.association :klass,:as=>:grouped_select, :collection=> Service.select_group,:group_method=>:items,:group_label_method=>:title,:wrapper_html=>{:class=>'service'},:disabled=>false %>
		<%= f.association :room,:collection=>Room.all,:disabled=>false%>
		<%= f.association :teacher,:collection=>Teacher.all,:label_method=>:username,:disabled=>false%>
		<%= f.input :remark,:input_html=>{:rows=>5}%>
	
		</div>
		<div class="tab-pane " id="tab2">
			<%= f.simple_fields_for :klassplanitems do |f2|%>
				<div class="page-header">
				  <h3>第<%=f2.object.number%>节</h3>
				</div>
				<%= f2.input :number,:as=>:hidden%>
				<%= f2.input :start_at,:as=>:datetime_picker,:disabled=>false%>
				<%= f2.input :end_at,:as=>:datetime_picker,:disabled=>false%>
				<%= f2.association :room,:collection=>Room.all,:disabled=>false%>
				<%= f2.association :teacher,:collection=>Teacher.all,:label_method=>:username,:disabled=>false%>
				<!-- <div class="control-group">
					<label class="control-label">容量</label>
					<div class="controls">
						<div class="progress progress-striped active span2">
						  <div class="bar" style="width: 0%;"></div>
						</div>
					</div>
				</div> -->
				<hr/>
			<% end %>
		</div>
		<div class="tab-pane" id="tab3">
			<%=render 'baomings/checkbox_table',:klassplan=>@klassplan,:baomings=>@klassplan.paike_list,:klassplan_type=>:paike%>
		</div>
		<div class="tab-pane" id="tab4">
			<%=render 'baomings/checkbox_table',:klassplan=>@klassplan,:baomings=>@klassplan.buke_list,:klassplan_type=>:buke%>
		</div>
		<% unless @klassplan.new_record?%>
		<div class="tab-pane" id="tab5">
			<%=render 'baomings/checkbox_table',:klassplan=>@klassplan,:baomings=>@klassplan.chaban_list,:klassplan_type=>:chaban%>
		</div>
		<% end %>
		
		<div class="form-actions">
			<%= f.button :submit %>
		</div>
<% end %>
<script>
	$(function(){
		<%unless @klassplan.new_record?%>
		$(function(){
			$("*[name='klassplan[klass_id]'").attr('disabled','disabled')
		})
		<% end %>
		show_klass_id();

		$("input[name='klassplan[klass_type]'").change(function(){
			show_klass_id();	
		})
		$("*[name='klassplan[klass_id]'").change(function(){
			window.location.href = gon.url_new+"?klass_id="+$(this).val();
		})
		$("*[name='klassplan[room_id]'").change(function(){
			$("*[name^='klassplan[klassplanitems_attributes]'][name$='[room_id]'").val($(this).val())
		})
		$("*[name='klassplan[teacher_id]'").change(function(){
			$("*[name^='klassplan[klassplanitems_attributes]'][name$='[teacher_id]'").val($(this).val())
		})
	})
	function show_klass_id(){
		var klass_type = $("input[name='klassplan[klass_type]']:checked").val();
		$('div.klassplan_klass').hide();
		$('div.klassplan_klass').find('select').attr('disabled','disabled');
		if(klass_type == 'service'){
			$('div.klassplan_klass.service').show();
			$('div.klassplan_klass.service').find('select').removeAttr('disabled');
		}else if(klass_type =='course'){
			$('div.klassplan_klass.course').show();
			$('div.klassplan_klass.course').find('select').removeAttr('disabled');
		}
	}
</script>