<%=render 'common/css'%>
<%- model_class = Klassplan -%>
<%
  if @klassplan.new_record?
    @url = project_klassplans_path(@project)
  else
    @url = project_klassplan_path(@project,@klassplan)
  end
%>
<%= form_for @klassplan,:url=>@url,:remote => true, :html => {:id => 'klassplan-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <div class="control-group">
    <%= f.label :klass_id, :class => 'control-label' %>
    <div class="controls">
      <label class="radio inline">
      <%= f.radio_button :category, :service%>服务
      </label>
      <label class="radio inline">
      <%= f.radio_button :category, :course%>课程
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >排课状态</label>
    <div class="controls">
      <label class="radio inline">
        <%=f.object.state_zh%>
      </label>
    </div>
  </div>
  
  <div id='ajax_menu'>
    <%=render 'ajax_menu',:klassplan=>@klassplan%>
  </div>
  <div id='ajax_students_table'>
    <%=render 'ajax_students_table',:klassplan=>@klassplan%>
  </div>   
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append date">
        <%= f.text_field :start_at, :class => 'text_field','data-format'=>"yyyy-MM-dd" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
        <!-- <button class='btn get_ajax_kpis'>自动排课</button> -->
      </div>

    </div>
  </div>
  <div id='ajax_kpis'>
    <%=render 'ajax_kpis',:klassplan=>@klassplan%>
  </div>
  <div id='ajax_rooms'>
    <%=render 'ajax_rooms',:klassplan=>@klassplan%>
  </div>
  <div id='ajax_teachers'>
    <%=render 'ajax_teachers',:klassplan=>@klassplan%>
  </div>
  <div class="form-actions">
    <%= link_to('发送排课通知',wait_teacher_confirm_project_klassplan_path(@project,@klassplan),:class=>'btn') if @klassplan.planing?%>
    <%= link_to('确认排课',confirm_plan_project_klassplan_path(@project,@klassplan),:class=>'btn') if @klassplan.waiting_teacher_confirm? || @klassplan.waiting_student_confirm? %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_klassplan_path(@project,@klassplan),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger'

      %>
  </div>
<% end %>

<script>
  $(function(){
    $("#klassplan_start_at").parent().datetimepicker({
      language: 'zh-CN',
      pickDate: true,
      pickTime: false
    })

    $(document).on('change',"input[name='klassplan[category]']",function(){
      $.post('<%=ajax_menu_project_klassplan_url(@project,@klassplan)%>.js',
        {category:$("input[name='klassplan[category]']:checked").val()},
        function(data){
          
        }
      )
    })

    $("#klassplan_start_at").parent().on('changeDate',function(e){
      get_ajax_kpis()
    })

    function get_ajax_kpis(){
      $.post('<%=ajax_kpis_project_klassplan_url(@project,@klassplan)%>.js',
        {
          klass_id:$("#klassplan_klass_id").val(),
          start_at:$("#klassplan_start_at").val(),
        },
        function(data){
          console.log(data)    
        }
      )
    }
    $(document).on('change',"#klassplan_klass_id,#klassplan_start_at",get_ajax_kpis) 
  })
  
</script>