<%- model_class = Klassplan -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:klass) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:student_count) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:before_klass_notification_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |klassplan| %>
      <tr>
        <td><%= link_to klassplan.klass.try(:title), project_klassplan_path(@project,klassplan) %></td>
        <td><%= 
        begin 
        klassplan.klassplanitems.first.start_at.to_formatted_s(:db) 
      rescue
        ''
      end
        %></td>
        <td><%= klassplan.baomings.count() %></td>
        <td><%= klassplan.state_zh %></td>        
        <td><%= klassplan.before_klass_notification_at %></td>
        <td>
          <%= link_to(t('.confirm_plan', :default => t("helpers.links.confirm_plan")),
                      confirm_plan_project_klassplan_path(@project,klassplan), :class => 'btn btn-mini') if klassplan.planing? %> 
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_klassplan_path(@project,klassplan), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_klassplan_path(@project,klassplan),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>