$("#ajax_teachers").html("<%=escape_javascript(render 'ajax_teachers',:klassplan=>@klassplan) %>");
$("#ajax_rooms").html("<%=escape_javascript(render 'ajax_rooms',:klassplan=>@klassplan) %>");
$("#ajax_students_table").html("<%=escape_javascript(render 'ajax_students_table',:klassplan=>@klassplan) %>");
