<div class="page-header">
  <h1>自动排课</h1>
</div>
<%=render 'common/css'%>
<div class="page-header">
  <h3>可排课程</h3>
</div>
<table class="table table-striped table-bordered">
<thead>
	<tr>
		<th></th>
		<th>课程名</th>
		<th>前置课程已上完</th>
		<th>前置课程已上完/正在上</th>
		<th>前置课程已选课/正在上</th>
		<th>课程容量</th>
		<th>机动人数</th>
	</tr>
</thead>
<tbody>
<% Klass.meet_limit.each do |klass|%>	
	<tr>
		<td><%=check_box_tag 'klasses_id[]',klass.id%></td>
		<td>
			<% if klass.is_a? Course %>
			<%= link_to klass.title, project_course_path(@project,klass) %>
			<% end %>
			<% if klass.is_a? Service %>
			<%= link_to klass.title, project_service_path(@project,klass) %>
			<% end %>
		</td>
		<td><%=klass.parents_finished.size%></td>
		<td><%=klass.parents_finished_or_learning.size%></td>
		<td><%=klass.parents_learning_or_planed.size%></td>
		<td><%=klass.capacity%></td>
		<td><%=klass.capacity_allowed%></td>
	</tr>
<% end %>
</tbody>
</table>
<div class="page-header">
  <h3>已自动排课</h3>
</div>
<%=render 'list',:collection=>Klassplan.autoplaning%>
<%=render 'dashboard'%>
<div class="input-append">
<%= select_tag "season_id", options_from_collection_for_select(Season.all, "id", "title")%> 
<button class='btn start_auto'>自动排课</button>
</div>
<script>
$(function(){
	$("table").tableDnD()
	$(".start_auto").click(function(){
		var klasses_id = []
		$("input[name^='klasses_id']:checked").each(function(){
			klasses_id.push($(this).val())
		})
		console.log(klasses_id)
		$.post('<%=start_auto_project_klassplans_path(@project)%>.js',{
			season_id:$("select[name='season_id']").val(),
			klasses_id:klasses_id
		},function(){
			window.location.reload()
		})
	})
})
</script>