<div class="page-header">
  <h1><%=t @scope %></h1>
</div>
<%=render 'common/css'%>

<div class="btn-group">           

<%= link_to '已排课日历',
            planed_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '排课中日历',
            planing_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '自动排课日历',
            autoplaning_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '已完成',
            finished_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '所有日历',
            all_calendar_project_klassplans_path(@project),
            :class => 'btn' %>                                                                                                                     
</div>
<%=render 'klassplans/dashboard'%>