<%=render 'common/css'%>
<%- model_class = Klassplan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<%= link_to '开始排课',
            new_project_klassplan_path(@project),
            :class => 'btn' %>

<!--  <%= link_to '已排课日历',
            planed_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '排课中日历',
            planing_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '自动排课日历',
            autoplaning_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '已完成',
            finished_calendar_project_klassplans_path(@project),
            :class => 'btn' %>

<%= link_to '所有日历',
            all_calendar_project_klassplans_path(@project),
            :class => 'btn' %>     -->
            <br/><br/>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">排课列表</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">日历</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
      <%=render 'list',:collection=>@klassplans%>
      <%= paginate @klassplans %>
  </div>
  <div class="tab-pane " id="tab2">
      <%=render 'dashboard'%>
  </div>
</div>

