<%
  @url = new2_project_klassplan_path(@project,@klassplan)
%>
<%= simple_form_for @klassplans, :url => @url, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @klassplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klassplan.errors.count, "error") %> prohibited this klassplan from being saved:</h2>

      <ul>
      <% @klassplan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>  
