<%=render 'common/css'%>
<%- model_class = Klassplan -%>
<div class="page-header">
  <h1>排课计划<%=@klassplan.id%></h1>
</div>
  <div class='pull-right'>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_klassplans_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_klassplan_path(@project,@klassplan), :class => 'btn' %>
<!--   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_klassplan_path(@project,@klassplan),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
  </div>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">课程计划</a></li>
  <li class=""><a href="#tab6" data-toggle="tab">所有学员</a></li>
  <li class=""><a href="#tab3" data-toggle="tab">报名学员</a></li>
  <li class=""><a href="#tab4" data-toggle="tab">补课学员</a></li>
  <li class=""><a href="#tab5" data-toggle="tab">插班学员</a></li>
  <li class=""><a href="#tab7" data-toggle="tab">所有通知</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
		<table class="table table-striped table-bordered">
		  <tr>
		    <td><strong><%= model_class.human_attribute_name(:klass_id) %>:</strong></td>
		    <td>
		    	<% if @klassplan.klass.is_a? Course %>
			     <%=link_to @klassplan.klass.title,project_course_path(@project,@klassplan.klass)%>
			     <% end %>
			     <% if @klassplan.klass.is_a? Service %>
			     <%=link_to @klassplan.klass.title,project_service_path(@project,@klassplan.klass)%>
			     <% end %>
		    </td>
		  </tr>
		  <tr>
		    <td>排课状态</td>
		    <td><%=@klassplan.state_zh%></td>
		  </tr>  
		  <tr>
		    <td><strong><%= model_class.human_attribute_name(:room_id) %>:</strong></td>
		    <td><%= link_to(@klassplan.room.title,project_room_path(@project,@klassplan.room))%></td>
		  </tr>  
		  <tr>
		    <td><strong><%= model_class.human_attribute_name(:teacher_id) %>:</strong></td>
		    <td><%= link_to(@klassplan.teacher.username,project_teacher_path(@project,@klassplan.teacher))%></td>
		  </tr>  
		</table>	
	</div>
	<div class="tab-pane " id="tab2">
		<ul id="myTab" class="nav nav-tabs">
		<% @klassplan.klassplanitems.each_with_index do |kpi,index|%>
		<li class="<%=index==0? 'active' : ''%>"><a href="#kpi<%=kpi.number%>" data-toggle="tab">第<%=kpi.number%>节</a></li>
		<% end %>
		</ul>
		<div class="tab-content">
			<% @klassplan.klassplanitems.each_with_index do |kpi,index|%>
			<div class="<%=index==0? 'active' : ''%> tab-pane" id="kpi<%=kpi.number%>">
				<table class="table table-striped table-bordered">
	<!-- 			  <tr>
				    <td><strong>节数</strong></td>
				    <td><%=kpi.number%></td>
				  </tr> -->
				  <tr>
				    <td><strong>开始时间</strong></td>
				    <td><%=kpi.start_at.to_formatted_s(:db)%></td>
				  </tr>
				  <tr>
				    <td><strong>结束时间</strong></td>
				    <td><%=kpi.end_at.to_formatted_s(:db)%></td>
				  </tr>
				  <tr>
				    <td><strong>上课状态</strong></td>
				    <td>
				    	<label class="checkbox">
							  <input type="checkbox" kpi_id="<%=kpi.id%>" value="" <%=kpi.finished ? 'checked' : '' %> class='set_finished'>
							</label>
				    </td>
				  </tr>
				  <!-- <tr>
				    <td><strong>教室</strong></td>
				    <td><%=kpi.room.title%></td>
				  </tr>
				  <tr>
				    <td><strong>老师</strong></td>
				    <td><%=kpi.teacher.username%></td>
				  </tr> -->
				  <tr>
				    <td><strong>上课人数</strong></td>
				    <td><%=kpi.baomings_klassplanitems.count%></td>
				  </tr>
				</table>
				<!-- 显示所有上该节课人列表 ， 并添加签到功能 -->
				<%=render 'klassplanitems/table',:collection=>kpi.baomings_klassplanitems%>
			</div>	
			<% end %>
		</div>
	</div>
	<!--  -->
	<div class="tab-pane " id="tab6">
		<%= render 'students/klassplan_table',:collection=>@klassplan.baomings_klassplans.collect{|i|i.baoming.student}%>
	</div>
	<!-- 报名 -->
	<div class="tab-pane" id="tab3">
		<%= render 'students/klassplan_table',:collection=>@klassplan.baomings_klassplans.paike.collect{|i|i.baoming.student}%>
	</div>
	<!-- 补课 -->
	<div class="tab-pane" id="tab4">
		<%= render 'students/klassplan_table',:collection=>@klassplan.baomings_klassplans.buke.collect{|i|i.baoming.student}%>
	</div>
	<!-- 插班 -->
	<div class="tab-pane" id="tab5">
		<%= render 'students/klassplan_table',:collection=>@klassplan.baomings_klassplans.chaban.collect{|i|i.baoming.student}%>
	</div>
	<!-- 所有通知 -->
	<div class="tab-pane" id="tab7">
		<%= render 'notifications/table',:collection=>@klassplan.all_notifications.order('id desc') %>
	</div>
</div>	
<script>
$(function(){
	$('.set_finished').each(function(){
		$(this).click(function(){
			$.post('/klassplanitems/'+$(this).attr('kpi_id')+'/set_finished',{finished:$(this).attr('checked')},function(){

			})
		})
	})
})
</script>