<%=render 'common/css'%>
<%
  if @market.new_record?
    @url = project_markets_path(@project)
  else
    @url = project_market_path(@project,@market)
  end
%>
<%= simple_form_for @market, :url => @url,
                             :html => {:id => 'market-form', :multipart => true,:class=>'form-horizontal'} do |f| %>
  <%= error_messages_for 'market' %>

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">活动洽谈</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">活动推广 </a></li>
    <li class=""><a href="#tab3" data-toggle="tab">活动现场</a></li>
    <li class=""><a href="#tab4" data-toggle="tab">活动结束</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active " id="tab1">
      <%= f.input :title %>
      <%= f.input :openclass %>
      <%= f.input :leixing %>
      <%= f.input :state %>
      <%= f.input :hezuofang %>
      <%= f.input :zhuti %>
      <%= f.input :xingshi %>
      <%= f.input :qtsj %>
      <%= f.input :yjgm %>
    </div>
    <div class="tab-pane " id="tab2">
      <%= f.input :attachment %>
    </div>
    <div class="tab-pane " id="tab3">
      <%= f.input :zxqk %>
      <%= f.input :dcrs %>
      <%= f.input :hdgm %>
      <%= f.input :hdxc,:as=>:datetime_picker %>            
      <%= f.input :xcxg %>
      <%= f.input :wjdcjg %>
    </div>
    <div class="tab-pane " id="tab4">
      <%= f.input :hdht %>
      <%= f.input :hdzp %>
      <%= f.input :cg %>
      <%= f.input :zj %>
      <%= f.input :zzfk %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_markets_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
  $(function(){
    // $('#myTab a:last').tab('show'); // Select first tab
    $('#myTab a:first').tab('show'); // Select first tab
  })
</script>