
<%- model_class = Market -%>
<div class="page-header">
  <h1>市场活动</h1>
</div>

<%= render 'markets/table',:collection=>collection%>

<%= paginate collection %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_market_path(@project),
            :class => 'btn ' %>
