<%=render 'common/css'%>
  <%- model_class = Market -%>
  <div class="page-header">
    <h1><%=@market.title %></h1>
  </div>
    <div class="row">
      <div class='pull-right'>
    <%= link_to '创建客户',
                new_project_client_path(@project,:market_id=>@market.id), :class => 'btn'  %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                project_markets_path(@market.project), :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_project_market_path(@market.project,@market), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                project_market_path(@market.project,@market),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>

    </div>
  </div>                  
  <br/>

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">活动洽谈</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">活动推广 </a></li>
    <li class=""><a href="#tab3" data-toggle="tab">活动现场</a></li>
    <li class=""><a href="#tab4" data-toggle="tab">活动结束</a></li>
    <li class=""><a href="#tab5" data-toggle="tab">统计数据</a></li>
  </ul>    
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane " id="tab5">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>市场活动转化率</td>
            <td><%=percentage @market.market_rate%></td>
          </tr>
          <% if @market.openclass %>
          <tr>
            <td>公开课转化率</td>
            <td><%=percentage @market.openclass_rate%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane active " id="tab1">
      <table class="table table-striped table-bordered">
        <tbody>
          <% Market::AttrGroups[0].each do |col|%>
          <tr>
            <td><%= model_class.human_attribute_name(col) %>:</td>
            <td><%= @market.send(col) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane " id="tab2">
      <table class="table table-striped table-bordered">
        <tr>
          <th><%= Student.human_attribute_name(:username) %></th>
          <th><%= '状态' %></th>
          <th><%= Student.human_attribute_name(:phone) %></th>
          <th>学校</th>
          <th>院系</th>
          <th>专业</th>
          <th>年级</th>
          <th>参与方式</th>
          <th>是否报名公开课</th>
          <th><%= Student.human_attribute_name(:created_at) %></th>
        </tr>
        <%@market.students.each do |student|%>
        <tr>
          <td>
          <%=
          link = ''
          if student.student?
            link = link_to student.username,project_student_path(@project,student)
          end
          if student.client?
            link = link_to student.username,project_client_path(@project,student)
          end
          if student.alumna?
            link = link_to student.username,project_alumna_path(@project,student)
          end
          link
          %>
          </td>
          <td><%= t "field_#{student.state}"%></td>
          <td><%=student.phone%></td>
          <td><%=student.school %></td>
          <td><%=student.college %></td>
          <td><%=student.major %></td>
          <td><%=student.grade%></td>
          <td><%=(student.markets_students & @market.markets_students).first.try(:state)%></td>
          <td><%= shifou student.signup_openclass%></td>
          <td><%=student.created_at%></td>
        </tr>
        <%end%>
      </table>
    </div>
    <div class="tab-pane " id="tab3">
      <table class="table table-striped table-bordered">
        <tbody>
          <% Market::AttrGroups[1].each do |col|%>
          <tr>
            <td><%= model_class.human_attribute_name(col) %>:</td>
            <td><%= @market.send(col) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane " id="tab4">
      <table class="table table-striped table-bordered">
        <tbody>
          <% Market::AttrGroups[2].each do |col|%>
          <tr>
            <td><%= model_class.human_attribute_name(col) %>:</td>
            <td><%= @market.send(col) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
