<%=render 'common/css'%>
<%
  if @rule.new_record?
    @url = project_rules_path(@project)
  else
    @url = project_rule_path(@project,@rule)
  end
%>

<%= form_for @rule,:url=>@url, :html => {:id => 'rule-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :week_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :week_max, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :week_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :week_min, :class => 'text_field' %>
    </div>
  </div>

  <% Rule::Priors.each do |key|%>
  <div class="control-group">
    <%= f.label key, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box key, :class => 'check_box' %>
    </div>
  </div>
  <% end %>

  <% Rule::Times.each do |key|%>
  <div class="control-group">
    <%= f.label key, :class => 'control-label' %>
    <div class="controls">
       <div class="input-append date">
        <%= f.text_field key, :class => 'text_field','data-format'=>"hh:mm" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_rules_path(@project), :class => 'btn' %>
  </div>
<% end %>
<script>
$(function(){
  $("input[name*='start'],input[name*='end']").parent().datetimepicker({
    language: 'zh-CN',
    pickDate: false,
    pickSeconds:false
  })
})
</script>