<%=render 'common/css'%>
<%- model_class = Rule -%>
<h1>Listing rules</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th><%=model_class.human_attribute_name(:title)%></th>
    <th><%=model_class.human_attribute_name(:mon_start)%></th>
    <th><%=model_class.human_attribute_name(:mon_end)%></th>
    <th><%=model_class.human_attribute_name(:tue_start)%></th>
    <th><%=model_class.human_attribute_name(:tue_end)%></th>
    <th><%=model_class.human_attribute_name(:wed_start)%></th>
    <th><%=model_class.human_attribute_name(:wed_end)%></th>
    <th><%=model_class.human_attribute_name(:thu_start)%></th>
    <th><%=model_class.human_attribute_name(:thu_end)%></th>
    <th><%=model_class.human_attribute_name(:fri_start)%></th>
    <th><%=model_class.human_attribute_name(:fri_end)%></th>
    <th><%=model_class.human_attribute_name(:sat_start)%></th>
    <th><%=model_class.human_attribute_name(:sat_end)%></th>
    <th><%=model_class.human_attribute_name(:sun_start)%></th>
    <th><%=model_class.human_attribute_name(:sun_end)%></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>

<% @rules.each do |rule| %>
  <tr>
    <td><%= link_to rule.title, project_rule_path(rule.project,rule) %></td>
    <td><%= rule.mon_start %></td>
    <td><%= rule.mon_end %></td>
    <td><%= rule.tue_start %></td>
    <td><%= rule.tue_end %></td>
    <td><%= rule.wed_start %></td>
    <td><%= rule.wed_end %></td>
    <td><%= rule.thu_start %></td>
    <td><%= rule.thu_end %></td>
    <td><%= rule.fri_start %></td>
    <td><%= rule.fri_end %></td>
    <td><%= rule.sat_start %></td>
    <td><%= rule.sat_end %></td>
    <td><%= rule.sun_start %></td>
    <td><%= rule.sun_end %></td>
    <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_rule_path(rule.project,rule), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_rule_path(rule.project,rule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rule', new_project_rule_path(@project) %>
