<%=render 'common/css'%>
<%- model_class = Rule -%>
<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
    <td><%=@rule.send(:title)%></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:week_max) %>:</strong></td>
    <td><%=@rule.send(:week_max)%></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:week_min) %>:</strong></td>
    <td><%=@rule.send(:week_min)%></td>
  </tr>
  <%- Rule::Priors.each do |key|%>
  <tr>
    <td><strong><%= model_class.human_attribute_name(key) %>:</strong></td>
    <td><%=youxian(@rule.send(key))%></td>
  </tr>
  <%- end %>
  <%- Rule::Times.each do |key|%>
  <tr>
    <td><strong><%= model_class.human_attribute_name(key) %>:</strong></td>
    <td><%=@rule.send(key)%></td>
  </tr>
  <%- end %>
</table>
<%= link_to 'Edit', edit_project_rule_path(@project,@rule) %> |
<%= link_to 'Back', project_rules_path %>
