<%=render 'common/css'%>
<%
  if @review.new_record?
    @url = project_reviews_path(@project)
  else
    @url = project_review_path(@project,@review)
  end
%>

<%= labelled_form_for @review, :url => @url,
                             :html => {:id => 'review-form', :multipart => true} do |f| %>
  <%= error_messages_for 'review' %>                             
  <div class='box tabular'>
    <p>
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'text_field' %>
    </p>
    <% if @student %>
    <p>
      <%= f.label :student, :class => 'control-label' %>
      <%= f.text_field :student_id,:value=>@student.username,:disabled=>true, :class => 'text_field' %>
      <%= f.hidden_field :student_id,:value=>@student.id, :class => 'text_field' %>
      <%= f.hidden_field :project_id,:value=>@project.id, :class => 'text_field' %>
    </p>
    <% end %>
    <p>
      <%= f.label :start_at, :class => 'control-label' %>
        <div class="datetimepicker1" class="input-append date">
          <%= f.text_field :start_at, :class => 'text_field','data-format'=>"yyyy/MM/dd hh:mm:ss" %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
    </p>
    <p>
      <%= f.label :end_at, :class => 'control-label' %>
        <div class="datetimepicker1" class="input-append date">
          <%= f.text_field :end_at, :class => 'text_field','data-format'=>"yyyy/MM/dd hh:mm:ss" %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </p>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_reviews_path(@project), :class => 'btn' %>
  </div>
<% end %>
