<%=render 'common/css'%>
<%- model_class = Review -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:student) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:feedbacked) %></th>
      <!-- <th><%= model_class.human_attribute_name(:will) %></th> -->
      <!-- <th><%= model_class.human_attribute_name(:report_hard) %></th> -->
      <!-- <th><%= model_class.human_attribute_name(:report_soft) %></th> -->
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |review| %>
      <tr>
        <td><%= link_to review.title, project_review_path(@project,review) %></td>
        <td><%= review.user.try(:name) %></td>
        <td><%= review.student.try(:username) %></td>
        <td><%= review.start_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= review.end_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= t review.state %></td>
        <td><%= set_feedbacked_link(@project,review) %></td>
        <!-- <td><%= review.will %></td> -->
        <!-- <td><%= review.report_hard %></td>
        <td><%= review.report_soft %></td> -->
        <!-- <td><%= review.created_at %></td> -->
        <td>
        	<%= link_to t('.start', :default => t("helpers.links.start")),
                      start_project_review_path(@project,review), :class => 'btn btn-mini' %>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_review_path(@project,review), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_review_path(@project,review),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>