<ul id="myTab" class="nav nav-tabs">
  <% if User.current.allowed_to?({:controller=>:reviews,:action=>:all},@project) %>
	<li class="<%= page==:all ? 'active' : '' %>">
		<%= link_to '所有评测', all_project_reviews_path(@project) %>
	</li>
	<% end %>
	<% if User.current.allowed_to?({:controller=>:reviews,:action=>:my},@project) %>
  <li class="<%= page==:my ? 'active' : ''%>">
  	<%= link_to '我的评测', my_project_reviews_path(@project)  %>
  </li>
  <% end %>
</ul>
