<%=render 'common/css'%>
<div class="page-header">
  <h1><%=t '.title', :default => SearchByPhone.model_name.human.pluralize.titleize %></h1>
</div>
<%
  if @review.new_record?
    @url = project_reviews_path(@project)
  else
    @url = project_review_path(@project,@review)
  end
%>

<%= form_for @review, :url => @url,
                             :html => {:id => 'review-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <%= error_messages_for 'review' %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title,:require=>true%>  
      </div>
    </div>
    <% if @student %>
    <div class="control-group">
      <%= f.label :student, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :student_id,:value=>@student.username,:disabled=>true, :class => 'text_field' %>
      </div>
    </div>
    <%= f.hidden_field :student_id,:value=>@student.id, :class => 'text_field' %>
    <% end %>
    <div class="control-group">
      <%= f.label :day, :class => 'control-label' %>
      <div class="controls">
        <div class="datetimepicker1 input-append date">
          <%= f.text_field :day, :class => 'text_field','data-format'=>"yyyy-MM-dd" %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls" id="available_reviewers">
        
      </div>
    </div>
    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :user_id,User.list_reviewers(@project).collect{|i|[i.name,i.id]}%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :start_at, :class => 'control-label' %>
      <div class="controls">
        <div class=" input-append date">
          <%= f.text_field :start_at, :class => 'text_field','data-format'=>"hh:mm" %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :end_at, :class => 'control-label' %>
      <div class="controls">
        <div class=" input-append date">
          <%= f.text_field :end_at, :class => 'text_field','data-format'=>"hh:mm" %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :attachment, :class => 'control-label' %>  
      <div class="controls">
        <%= f.file_field :attachment %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  project_reviews_path(@project), :class => 'btn' %>
    </div>
<% end %>

<script type="text/javascript">
  $(function() {
    setInterval(refresh_reviewers,1000)
    function refresh_reviewers(){
      if(!refresh_reviewers.last){
        refresh_reviewers.last = ''
      }
      var day = $('.datetimepicker1 input').val()
      if(day!=refresh_reviewers.last){
        refresh_reviewers.last = day
        $.get('available_reviewers.js?date='+day)
      }
    }
    $('#review_day').parent().datetimepicker({
      language: 'zh-CN',
      pickTime: false
    });
    $("#review_start_at").parent().datetimepicker({
      language: 'zh-CN',
      pickDate: false,
      pickSeconds: false
    })
    $("#review_end_at").parent().datetimepicker({
      language: 'zh-CN',
      pickDate: false,
      pickSeconds: false
    })
    // $("#review_datetime_range").daterangepicker();
    // $("#review_day").change(function(){

    // })
  });

</script>