<%=render 'common/css'%>
<%- model_class = Review -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%=render 'review_tab',:page=>nil%>
  <% if User.current.allowed_to?({:controller=>:reviews,:action=>:search_by_phone},@project) %>
<%= link_to t('.search_by_phone', :default => t("helpers.links.search_by_phone")),
            search_by_phone_project_reviews_path(@project),
            :class => 'btn ' %>
<% end %>
<%= paginate @rooms %>
