<%- model_class = Review -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%=render 'review_tab',:page=>:payed%>
<br/>
<br/>
<br/>
<%=render 'list',:collection=>@reviews%>