<%=render 'common/css'%>
<div class="page-header">
  <h1><%=t '.title', :default => SearchByPhone.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for @search_by_phone, :url => search_by_phone_project_reviews_path(@project),
                             :html => {:id => 'search_by_phone-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <%= error_messages_for 'search_by_phone' %>
  <% if @search_by_phone.phone && !@search_by_phone.search_student %>
  <div class='alert alert-error'>
    没有手机号为<%=@search_by_phone.phone%>的学员 ， 是否创建新学员? <%=link_to '创建学员',new_project_student_path(@project)%>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :placeholder => 'me@example.com',:require=>true%>  
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn ' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_reviews_path(@project), :class => 'btn' %>
  </div>
<% end %>	
