<%=render 'common/css'%>
<%- model_class = Review -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class="pull-right">
  <%= link_to t('.start', :default => t("helpers.links.start")),
                      start_project_review_path(@project,@review), :class => 'btn ' %>
  <%= link_to t('.edit_student', :default => t("helpers.links.edit")),
              edit_project_client_path(@project,@review.student), :class => 'btn' if @review.student.client?  %>              
  <%= link_to t('.edit_student', :default => t("helpers.links.edit")),
              edit_project_student_path(@project,@review.student), :class => 'btn' if @review.student.student?  %>              
  <%= link_to t('.edit_student', :default => t("helpers.links.edit")),
              edit_project_alumna_path(@project,@review.student), :class => 'btn' if @review.student.alumna?  %>                                          
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_reviews_path(@project), :class => 'btn'  %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_review_path(@project,@review), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_review_path(@project,@review),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
</div>
<br/>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
  <li class=""><a href="#tab2" data-toggle="tab">考题 </a></li>
  <li class=""><a href="#tab3" data-toggle="tab">报名 </a></li>
  </ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active " id="tab1">
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
        <td><%= @review.title %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:state) %>:</strong></td>
        <td><%= t @review.state %></td>
      </tr>
      <tr>
        <td><strong>评测师:</strong></td>
        <td><%= @review.user.try(:name) %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:student) %>:</strong></td>
        <td><%= link_to @review.student.username,project_student_path(@project,@review.student) %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:start_at) %>:</strong></td>
        <td><%= @review.start_at %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></td>
        <td><%= @review.end_at %></td> 
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:will) %>:</strong></td>
        <td><%= @review.will %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:report_hard) %>:</strong></td>
        <td><%= @review.report_hard %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:report_soft) %>:</strong></td>
        <td><%= @review.report_soft %></td>
      </tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:xuanke) %>:</strong></td>
        <td>
          <% @review.klasses.each do |klass|%>
          <%= link_to klass.title,project_review_path(@project,klass)%>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-pane " id="tab2">
    <div class="page-header">
      <h2>考题列表</h2>
    </div>
    <%=render 'questions/list',:collection=>@review.questions%>
  </div>
  <div class="tab-pane " id="tab3">    
    <div class="page-header">
      <h2>报名列表</h2>
    </div>
    <%=render 'baomings/list',:collection=>@review.baomings%>
  </div>


