<%=render 'common/css'%>
<div class="page-header">
  <h1><%=t '.title', :default => SearchByPhone.model_name.human.pluralize.titleize %></h1>
</div>
<%
  @url = start_project_review_path(@project,@review)
%>

<%= simple_form_for @review, :url => @url,
                             :html => {:id => 'review-form',:class=>'form-horizontal', :multipart => true} do |f| %>
  <%=f.input :id,:as=>:hidden%>
  <%= error_messages_for 'review' %>
  <ul id="myTab" class="nav nav-tabs">
    <% @review.questions.group('page').each_with_index do |q,i|%>
    <li class="<%= i==0 ? 'active' : '' %>"><a href="#tab<%=q.page%>" data-toggle="tab"><%=q.page%></a></li>
    <% end %>
    <li ><a href="#tab" data-toggle="tab">选课</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane " id="tab">
      <%= f.input :title,:disabled=>true, :placeholder => 'me@example.com',:require=>true%>
      <%= f.input :student_id,input_html:{:value=>@student.username},:disabled=>true,:as => 'string' %>
      <%= f.input :will,:collection=>Review::Will,:as=>:radio_buttons %>
      <div class="control-group">
        <%= f.label :xuanke, :class => 'control-label' %>
        <div class="controls">
          <% Klass.all.each_with_index do |course,index|%>
          <label class="checkbox">
            <%=check_box_tag 'review[courses_id][]', course.id, f.object.klasses.include?(course)%>
            <%=course.title%>
          </label>
          <% end %>
        </div>
      </div>
    </div>
    <% @review.questions.group('page').each_with_index do |q,i|%>
      <div class="tab-pane <%= i==0 ? 'active' : '' %> " id="tab<%=q.page%>">
        <%= f.fields_for :questions do |question_f|%>
          <% if question_f.object.page == q.page %>
            <%=render 'api/review_item',:f=>question_f%>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn ' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  project_reviews_path(@project), :class => 'btn' %>
    </div>
<% end %>

<script>
$(function(){
  $("input[type=radio]").click(function(){
    var that = this;
    // console.log($(this).closest("fieldset").find("input[type=radio]"))
    // console.log($(this).closest("fieldset"))
    $(this).closest("fieldset").find("input[type=radio]").each(function(){
      // console.log(that!=this)
      if(that!=this){
        $(this).removeAttr('checked')
      }
    })
  })
  $("#top-menu,#header,#footer").hide()
})
</script>
<style>
#top-menu,#header,#footer{display: none!important;}
</style>