<%=render 'common/css'%>

<div class="page-header">
  <h1>统计</h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>类型</th>
      <th>数据</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>市场-公开课 转化率</td>
      <td><%=percentage Stat.market_to_openclass_rate%></td>
    </tr>
    <tr>
      <td>公开课-评测 转化率</td>
      <td><%=percentage Stat.openclass_to_review_rate%></td>
    </tr>
    <tr>
      <td>评测-报名 转化率</td>
      <td><%=percentage Stat.review_to_baoming_rate%></td>
    </tr>
    <tr>
      <td>市场-报名 转化率</td>
      <td><%=percentage Stat.market_to_baoming_rate%></td>
    </tr>
    <tr>
      <td>平均总客单价</td>
      <td><%=Stat.student_fee_avg%> 元</td>
    </tr>
    <tr>
      <td>平均首次报名金额</td>
      <td><%=Stat.student_first_fee_avg%> 元</td>
    </tr>
    <tr>
      <td>平均补报总金额</td>
      <td><%=Stat.student_other_fee_avg%> 元</td>
    </tr>
    
  </tbody>
</table>