<% content_for :header_tags do %>
  <%= include_gon %>
	<%= stylesheet_link_tag 'bootstrap-combined.min.css', :plugin => 'sicheng' %>
	<%= stylesheet_link_tag 'bootstrap-datetimepicker.min.css', :plugin => 'sicheng' %>
  <%= stylesheet_link_tag 'daterangepicker-bs3', :plugin => 'sicheng' %>
  <%= stylesheet_link_tag 'override.css', :plugin => 'sicheng' %>
  <%= stylesheet_link_tag 'select2.css', :plugin => 'sicheng' %>
  <%= stylesheet_link_tag 'summernote.css', :plugin => 'sicheng' %>
  
	<%= javascript_include_tag 'bootstrap.min.js', :plugin => 'sicheng' %>
	<%= javascript_include_tag 'bootstrap-datetimepicker.min.js', :plugin => 'sicheng' %>
	<%= javascript_include_tag 'bootstrap-datetimepicker.zh-CN.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'daterangepicker.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'jquery.tablednd.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'select2.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'select2_locale_zh-CN.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'override.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'typeahead.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'summernote.min.js', :plugin => 'sicheng' %>
  <%= javascript_include_tag 'summernote-zh-CN.js', :plugin => 'sicheng' %>
  
  <script>
  $(function(){
    $('.datetime_picker').datetimepicker({
      language: 'zh-CN',
    });
  })
  </script>
<% end %>