<!DOCTYPE html>
<%= stylesheet_link_tag 'bootstrap-combined.min.css', :plugin => 'sicheng' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker.min.css', :plugin => 'sicheng' %>
<%= stylesheet_link_tag 'daterangepicker-bs3', :plugin => 'sicheng' %>
<%= stylesheet_link_tag 'override.css', :plugin => 'sicheng' %>
<%= stylesheet_link_tag 'select2.css', :plugin => 'sicheng' %>
<%= javascript_include_tag 'jquery-1.8.3-ui-1.9.2-ujs-2.0.3.js' %>
<%= javascript_include_tag 'bootstrap.min.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'bootstrap-datetimepicker.min.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'bootstrap-datetimepicker.zh-CN.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'daterangepicker.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'jquery.tablednd.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'select2.js', :plugin => 'sicheng' %>
<%= javascript_include_tag 'select2_locale_zh-CN.js', :plugin => 'sicheng' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>