<%- model_class = Klass -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class='pull-right'>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              klasses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_klass_path(@klass), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              klass_path(@klass),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>              
</div>

  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @klass.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @klass.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @klass.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:projector) %>:</strong></dt>
  <dd><%= @klass.projector %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sound) %>:</strong></dt>
  <dd><%= @klass.sound %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mic) %>:</strong></dt>
  <dd><%= @klass.mic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></dt>
  <dd><%= @klass.capacity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
  <dd><%= @klass.duration %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></dt>
  <dd><%= @klass.frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cycle) %>:</strong></dt>
  <dd><%= @klass.cycle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:section) %>:</strong></dt>
  <dd><%= @klass.section %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kind) %>:</strong></dt>
  <dd><%= @klass.kind %></dd>
  <dt><strong><%= model_class.human_attribute_name(:chaban) %>:</strong></dt>
  <dd><%= @klass.chaban %></dd>
  <dt><strong><%= model_class.human_attribute_name(:style) %>:</strong></dt>
  <dd><%= @klass.style %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_makeup) %>:</strong></dt>
  <dd><%= @klass.video_makeup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:score) %>:</strong></dt>
  <dd><%= @klass.score %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remark) %>:</strong></dt>
  <dd><%= @klass.remark %></dd>
  <dt><strong><%= model_class.human_attribute_name(:network) %>:</strong></dt>
  <dd><%= @klass.network %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tools) %>:</strong></dt>
  <dd><%= @klass.tools %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu) %>:</strong></dt>
  <dd><%= @klass.menu %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu_id) %>:</strong></dt>
  <dd><%= @klass.menu_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:laser) %>:</strong></dt>
  <dd><%= @klass.laser %></dd>
  <dt><strong><%= model_class.human_attribute_name(:need_before_task) %>:</strong></dt>
  <dd><%= @klass.need_before_task %></dd>
  <dt><strong><%= model_class.human_attribute_name(:need_after_task) %>:</strong></dt>
  <dd><%= @klass.need_after_task %></dd>
  <dt><strong><%= model_class.human_attribute_name(:before_task) %>:</strong></dt>
  <dd><%= @klass.before_task %></dd>
  <dt><strong><%= model_class.human_attribute_name(:after_task) %>:</strong></dt>
  <dd><%= @klass.after_task %></dd>
</dl>


